In [1]:
# Importing useful libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.max.rows', 672)
df = pd.read_csv("/kaggle/input/data-science-job-posting-on-glassdoor/Uncleaned_DS_jobs.csv")

In [3]:
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [4]:
# Dropping columns

del df['index']
del df['Competitors']
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD)
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD)
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD)
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable

In [5]:
df.shape

(672, 13)

In [6]:
df.dtypes

Job Title             object
Salary Estimate       object
Job Description       object
Rating               float64
Company Name          object
Location              object
Headquarters          object
Size                  object
Founded                int64
Type of ownership     object
Industry              object
Sector                object
Revenue               object
dtype: object

In [7]:
df.describe()

           Rating      Founded
count  672.000000   672.000000
mean     3.518601  1635.529762
std      1.410329   756.746640
min     -1.000000    -1.000000
25%      3.300000  1917.750000
50%      3.800000  1995.000000
75%      4.300000  2009.000000
max      5.000000  2019.000000

In [8]:
# Cleaning Columns

df['Salary Estimate'].value_counts()

Salary Estimate
$79K-$131K (Glassdoor est.)     32
$99K-$132K (Glassdoor est.)     32
$75K-$131K (Glassdoor est.)     32
$137K-$171K (Glassdoor est.)    30
$90K-$109K (Glassdoor est.)     30
$56K-$97K (Glassdoor est.)      22
$79K-$106K (Glassdoor est.)     22
$90K-$124K (Glassdoor est.)     22
$110K-$163K (Glassdoor est.)    21
$92K-$155K (Glassdoor est.)     21
$138K-$158K (Glassdoor est.)    21
$128K-$201K (Glassdoor est.)    21
$212K-$331K (Glassdoor est.)    21
$95K-$119K (Glassdoor est.)     21
$69K-$116K (Glassdoor est.)     21
$124K-$198K (Glassdoor est.)    21
$112K-$116K (Glassdoor est.)    21
$122K-$146K (Glassdoor est.)    21
$91K-$150K (Glassdoor est.)     21
$101K-$165K (Glassdoor est.)    21
$79K-$147K (Glassdoor est.)     20
$31K-$56K (Glassdoor est.)      20
$145K-$225K(Employer est.)      20
$141K-$225K (Glassdoor est.)    20
$66K-$112K (Glassdoor est.)     20
$80K-$132K (Glassdoor est.)     20
$87K-$141K (Glassdoor est.)     20
$105K-$167K (Glassdoor est.)    20
$79K-$133K (Glassdoor est.)     19
$71K-$123K (Glassdoor est.)     19
Name: count, dtype: int64

In [9]:
df['Salary Estimate'] = df['Salary Estimate'].str.replace('(Glassdoor est.)','')
df['Salary Estimate'] = df['Salary Estimate'].str.replace('(Employer est.)','')
df['Salary Estimate'] = df['Salary Estimate'].str.replace('$','')
df['Salary Estimate'] = df['Salary Estimate'].str.replace('K','')
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD)
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD)
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD)
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable

In [10]:
# Spliting Salary Estimate Column

df[['Minimum_Salary', 'Maximum_Salary']] = df['Salary Estimate'].str.split("-", expand = True)
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171

In [11]:
# Dropping the Salary Estimate Column

del df['Salary Estimate']

In [12]:
df.head()

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171

In [13]:
# Changing the data type to numeric

df['Minimum_Salary'] = pd.to_numeric(df['Minimum_Salary'])
df['Maximum_Salary'] = pd.to_numeric(df['Maximum_Salary'])
df.dtypes

Job Title             object
Job Description       object
Rating               float64
Company Name          object
Location              object
Headquarters          object
Size                  object
Founded                int64
Type of ownership     object
Industry              object
Sector                object
Revenue               object
Minimum_Salary         int64
Maximum_Salary         int64
dtype: object

In [14]:
# Creating a new Average Salary Column

df['Average_Salary'] = (df['Minimum_Salary'] + df['Maximum_Salary'])/2
df.head()

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154.0
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154.0
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154.0
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154.0
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154.0

In [15]:
# Working on the Rating Column

df['Rating'].value_counts()

Rating
 3.5    58
-1.0    50
 4.0    41
 3.3    41
 3.9    40
 3.8    39
 3.7    38
 5.0    36
 4.5    32
 3.6    31
 3.4    31
 4.2    29
 4.1    25
 4.4    24
 4.7    22
 3.2    21
 4.8    20
 4.3    14
 2.9    14
 4.6    12
 3.1    12
 4.9    11
 2.7    10
 3.0     7
 2.6     4
 2.8     3
 2.5     2
 2.2     1
 2.4     1
 2.3     1
 2.1     1
 2.0     1
Name: count, dtype: int64

In [16]:
# Changing all -1 Ratings to 0
df['Rating'] = np.where(df.Rating < 0, 0, df.Rating)
df['Rating'].unique()

array([3.1, 4.2, 3.8, 3.5, 2.9, 3.9, 4.4, 3.6, 4.5, 4.7, 3.7, 3.4, 4.1,
       3.2, 4.3, 2.8, 5. , 4.8, 3.3, 2.7, 2.2, 2.6, 4. , 2.5, 4.9, 2.4,
       0. , 2.3, 4.6, 3. , 2.1, 2. ])

In [17]:
df['Rating'].value_counts()

Rating
3.5    58
0.0    50
4.0    41
3.3    41
3.9    40
3.8    39
3.7    38
5.0    36
4.5    32
3.6    31
3.4    31
4.2    29
4.1    25
4.4    24
4.7    22
3.2    21
4.8    20
4.3    14
2.9    14
4.6    12
3.1    12
4.9    11
2.7    10
3.0     7
2.6     4
2.8     3
2.5     2
2.2     1
2.4     1
2.3     1
2.1     1
2.0     1
Name: count, dtype: int64

In [18]:
df.dtypes

Job Title             object
Job Description       object
Rating               float64
Company Name          object
Location              object
Headquarters          object
Size                  object
Founded                int64
Type of ownership     object
Industry              object
Sector                object
Revenue               object
Minimum_Salary         int64
Maximum_Salary         int64
Average_Salary       float64
dtype: object

In [19]:
df.head()

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154.0
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154.0
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154.0
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154.0
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154.0

In [20]:
# Splitting the Company Name Column into Company_Name and Company_Rating in order to compare the values of the Rating Column to Company_Rating column for more accuracy

df[['Company_Name', 'Company_Rating']] = df['Company Name'].str.split("\n", expand = True)

In [21]:
df.head()

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary,Company_Name,Company_Rating
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154.0,Healthfirst,3.1
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154.0,ManTech,4.2
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154.0,Analysis Group,3.8
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154.0,INFICON,3.5
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154.0,Affinity Solutions,2.9

In [22]:
# Comparing both Rating Column to see which is more accurate

df.columns

Index(['Job Title', 'Job Description', 'Rating', 'Company Name', 'Location',
       'Headquarters', 'Size', 'Founded', 'Type of ownership', 'Industry',
       'Sector', 'Revenue', 'Minimum_Salary', 'Maximum_Salary',
       'Average_Salary', 'Company_Name', 'Company_Rating'],
      dtype='object')

In [23]:
df['Rating'].unique()

array([3.1, 4.2, 3.8, 3.5, 2.9, 3.9, 4.4, 3.6, 4.5, 4.7, 3.7, 3.4, 4.1,
       3.2, 4.3, 2.8, 5. , 4.8, 3.3, 2.7, 2.2, 2.6, 4. , 2.5, 4.9, 2.4,
       0. , 2.3, 4.6, 3. , 2.1, 2. ])

In [24]:
df['Company_Rating'].unique()

array(['3.1', '4.2', '3.8', '3.5', '2.9', '3.9', '4.4', '3.6', '4.5',
       '4.7', '3.7', '3.4', '4.1', '3.2', '4.3', '2.8', '5.0', '4.8',
       '3.3', '2.7', '2.2', '2.6', '4.0', '2.5', '4.9', '2.4', None,
       '2.3', '4.6', '3.0', '2.1', '2.0'], dtype=object)

In [25]:
# Both Similar # Dropping one

del df['Company_Rating']

In [26]:
df.head()

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary,Company_Name
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154.0,Healthfirst
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154.0,ManTech
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154.0,Analysis Group
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154.0,INFICON
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154.0,Affinity Solutions

In [27]:
del df['Company Name']
df.head()

,Job Title,Job Description,Rating,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary,Company_Name
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154.0,Healthfirst
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154.0,ManTech
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154.0,Analysis Group
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154.0,INFICON
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154.0,Affinity Solutions

In [28]:
df['Company_Name'].unique()

array(['Healthfirst', 'ManTech', 'Analysis Group', 'INFICON',
       'Affinity Solutions', 'HG Insights', 'Novartis', 'iRobot',
       'Intuit - Data', 'XSELL Technologies', 'Novetta', '1904labs',
       'PNNL', 'Old World Industries', 'Mathematica Policy Research',
       'Guzman & Griffin Technologies (GGTI)', 'Upside Business Travel',
       'Buckman', 'Insight Enterprises, Inc.', 'Tower Health',
       'Triplebyte', 'PulsePoint', 'Exponent', 'Guardian Life',
       'Spectrum Communications and Consulting', 'Oversight Systems',
       'LSQ', 'MIT Lincoln Laboratory', 'Kingfisher Systems', 'Formation',
       'Cohere Health', 'Acuity Insurance', 'Chef', 'Puget Sound Energy',
       'Sandhills Global', 'A Place for Mom', 'Great-Circle Technologies',
       'Edmunds.com', 'Cambridge Associates, LLC',
       'Liberty Mutual Insurance', 'Cenlar', 'Arsenal Biosciences',
       'Eversight', 'Pfizer', 'Klaviyo', 'Intellectual Ventures',
       'GovTech', 'Quick Base', 'Giving Assistant', 'Takeda', 'Netskope',
       'IT Concepts', 'iSeatz', 'Summa Health System', 'Benson Hill',
       'Twitter', 'Postmates - Corporate HQ', 'Envision LLC', 'Swiss Re',
       'Systems & Technology Research', 'Dermalogica',
       'Bayview Asset Management', 'Via Transportation', 'Grid Dynamics',
       'Tempus Labs', 'CareDx', 'IZEA', 'Autodesk', 'Caterpillar',
       'New England Biolabs', 'Allied Solutions', 'The Knot Worldwide',
       'IFG Companies', 'Amyris', 'AstraZeneca', 'Powertek',
       'Object Partners', 'The Mom Project', 'Lightspeed Systems',
       'Stripe', 'Comprehensive Healthcare',
       'Fullpower Technologies, Inc.', 'Mars', 'NuWave Solutions',
       'Merrick Bank', 'QOMPLX', 'GutCheck',
       'Inter-American Development Bank', 'Avlino', 'Stratagem Group',
       'Evidation', 'Tecolote Research', 'Tivity Health', 'hc1',
       'HP Inc.', 'SAIC', 'AllianceBernstein', 'Big Huge Games',
       'Maxar Technologies', 'Phantom AI', 'Noblis', 'Spring Health',
       'ClearEdge', 'GetWellNetwork', 'TACG Solutions', 'Scoop',
       'Montway Inc', 'Juniper Networks', 'Notion Labs', 'Lendio',
       'Direct Agents', 'NAVEX Global', 'Upstart', 'AppLovin',
       'ISO New England', 'Relativity', 'Tempo Automation', 'MITRE',
       'Expedition Technology, Inc.', 'Evidera',
       'Plymouth Rock Assurance', 'Crown Bioscience', 'GNS Healthcare',
       'OneMagnify', 'SPECTRUM', 'Advanced BioScience Laboratories',
       'Procore Technologies', 'Ritedose', 'Covid-19 Search Partners',
       'bioMérieux', 'Radical Convergence', 'Leidos', 'Demandbase',
       'Shelter Insurance', 'USAC',
       'General Dynamics Information Technology', 'Offerpad',
       'Magna International Inc.', 'United BioSource', 'Kelly', 'C3.ai',
       'Quartet Health', 'Midland Credit Management',
       'Resurgent Capital Services', 'webfx.com', 'Argo Group US',
       'BWX Technologies', 'Life360', 'MassMutual', 'Natera', 'Genentech',
       'Ntrepid', 'Constant Contact', 'Sage Intacct', 'Shape Security',
       'SkillSoniq', 'Joby Aviation',
       "Cook Children's Health Care System", 'Rubius Therapeutics',
       'GreatAmerica Financial Services', 'Coverent', 'Mteq',
       'Rocket Lawyer', 'Alion Science & Technology', 'Protolabs',
       'Quest Integrity', 'Phoenix Operations Group', 'Dice.com',
       'Southwest Research Institute', 'The Buffalo Group',
       'Central California Alliance for Health',
       'Security Finance Corporation of Spartanburg', 'Opendoor',
       'Global Data Management Inc', 'Photon Infotech', 'REE',
       'Riverside Research Institute', 'T. Rowe Price', 'Encode, Inc.',
       'Brighthouse Financial', 'II-VI Incorporated', 'Surya Systems',
       'PayPal', 'Predictive Research Inc', '1010data', 'Gigya',
       'Genesis Research', 'Sanofi', 'XPO Logistics', 'Trace Data',
       'Descript', 'Rincon Research Corporation', 'Better Hire',
       'Parker Hannifin', 'Gallup', 'Insider Inc',
       'Rapid Value Solutions', 'Battelle', 'The Drive Media, Inc.',
       'Pacific Northwest National Laboratory', 'US Pharmacopeia',
       'Itlize Global', 'eBay', 'Paige', 'ABIOMED', 'Comcast',
       'Metronome, LLC', 'Lawrence Livermore National Lab',
       'FHLBank Pittsburgh', 'Jacobs', 'Underwriters Laboratories',
       'Altus Group', 'Jobot', 'Trovetechs Inc', 'Oshkosh Corporation',
       'Mackin', 'PETADATA', 'VBeyond Corporation', 'Take-Two',
       'Colony Brands', 'Capio Group', 'SleePare', 'ShorePoint',
       'Dolphin', 'TE Connectivity', 'State of Virginia', 'TA Digital',
       'Market America Inc', 'TrueAccord', 'ALTA IT Services',
       'Kollasoft Inc.', 'ASRC Federal Holding Company',
       'Adwait Algorithm', 'Cambridge FX', 'Metromile', 'Criteo',
       'Advance Sourcing Concepts', 'Enterprise Solutions Inc',
       'Microagility', 'Conch Technologies, Inc', 'GSK',
       'Rainmaker Resources, LLC', '22nd Century Technologies', 'Huxley',
       'FM Systems', 'B4Corp',
       'Blue Cross and Blue Shield of North Carolina', 'Jane Street',
       'SSATI', 'Solving IT International Inc',
       'The Davey Tree Expert Company', 'Centauri', 'Stride Search',
       'Software Engineering Institute', 'TechProjects', '7Park Data',
       'Ameritas Life Insurance Corp', 'Western Digital',
       'Shimento, Inc.', 'Averity', 'Praxis Engineering',
       'Point72 Ventures',
       'Johns Hopkins University Applied Physics Laboratory',
       'Cambridge Mobile Telematics', 'Blend360', 'Nolij Consulting',
       'Hatch Data Inc', 'Compass Consulting Group', 'SolutionIT, Inc.',
       'Perspecta', 'Smith Hanley Associates', 'Allen Institute',
       'Eliassen Group', 'Bayside Solutions', 'Evolve Vacation Rental',
       'AgreeYa Solutions', 'Carolina Power & Light Co',
       'New Iron Group, Inc.', 'Travelers', 'Twitch', 'Biogen', 'HireAi',
       'Mentor Graphics', 'WCG (WIRB-Copernicus Group)',
       'Visionary Integration Professionals', 'Dynetics',
       'Navy Federal Credit Union', 'Exact Sciences Corporation',
       'Community Behavioral Health', 'Reynolds American', 'LifeOmic',
       'Visionist, Inc.', 'Navio', 'Concerto HealthAI', 'Evolvinc',
       'PROPRIUS', 'TECHNOCRAFT Solutions', 'Latitude, Inc.',
       'Royce Geospatial', 'CyberCoders', 'Booz Allen Hamilton Inc.',
       'Burns & McDonnell', 'InvenTech Info', 'Robert Half',
       'Conflux Systems Inc.', 'Voice', 'Falcon IT & Staffing Solutions',
       'DataLab USA', 'Werner Enterprises Inc', 'PeopleCom',
       'VANTA Partners', 'Blue Icy Water, LLC',
       "Farmer's Business Network, Inc.", 'Sonde Health', 'Maxiom',
       'Change Healthcare', 'DCS Corp', 'Hive (CA)',
       'Hackensack Meridian Health', 'Net2Source Inc.', 'The Trade Desk',
       'IBM', 'Knowesis Inc.', 'MoTek Technologies', 'HPOne',
       'Blue Cloak LLC', 'TBWA\\Chiat\\Day', 'ThreeBridge Solutions',
       'Numeric, LLC', 'Centraprise', 'DW Simpson', 'LinQuest',
       'Trexquant Investment', 'Fleetcor', 'Radiant Digital',
       'Child Care Aware of America', 'IntelliPro Group Inc.', 'USI',
       'Apex Systems', 'Pragmatics, Inc.', 'Crossover Health',
       'Lorven Technologies Inc', 'Gap Inc.', 'Tygart Technology, Inc',
       'Murray Resources', 'New York Technology Partners',
       'Two95 International Inc.', 'Sophinea', 'CRS Group',
       'Blackstone Talent Group', 'Roche', 'Creative Circle',
       'Blue Horizon Tek Solutions', 'Sharpedge Solutions Inc',
       'Alaka`ina Foundation Family of Companies', 'Hexagon US Federal',
       'Monte Rosa Therapeutics', 'Comtech Global Inc', 'Aveshka, Inc.',
       '10x Genomics', 'CompuForce', '1-800-Flowers', 'Aptive',
       'JCD Staffing', 'Thumbtack', 'MILVETS Systems Technology, Inc.',
       'Apple', 'Kforce', 'OppLoans', 'Brillient', 'Xator Corporation',
       'HAN IT Staffing Inc.', 'Infinitive Inc', 'New Relic', 'ICW Group',
       'NYSTEC', 'E3 Federal Solutions', 'Peraton', 'Group O',
       'CaptiveAire', 'Temboo', 'Kibo', 'AeroVironment',
       'Applied Research Laboratories', 'Conagen', 'Alector',
       'Homology Medicines, Inc.', 'Inland Empire Health Plan',
       'Sandia National Laboratories', 'CIA', 'Maven Wave Partners',
       'Ovative Group', 'Kognetics', 'Envision Healthcare',
       'ConsumerTrack', 'Meridian Knowledge Solutions', 'UST Global',
       'IMG Systems', 'Trident Systems Inc', 'GrainBridge, LLC',
       'First Health Group', 'Sprezzatura Management Consulting',
       'Progress Rail, A Caterpillar Company', 'Axiologic Solutions',
       'Indigo Slate', 'Cubic', 'Advanced Bio-Logic Solutions Corp',
       'Alignment Healthcare', 'WGSN', 'ISYS Technologies, Inc.',
       'TransVoyant', 'Geotab', 'EGlobalTech',
       'Central Business Solutions, Inc', 'KeHE Distributors',
       'Moxie Software', 'Unicom Technologies INC', 'Americo Life',
       'Tokio Marine HCC', 'CACI International', 'Berico Technologies',
       'Kehe Food Distributors', 'Pactera Edge', 'Qurate Retail Group',
       'A-Line Staffing Solutions', 'Clear Ridge Defense',
       'Criterion Systems, Inc.', 'Foundation Medicine', 'TRANZACT',
       'JKGT', 'AccessHope', 'ChaTeck Incorporated'], dtype=object)

In [29]:
df.head()

,Job Title,Job Description,Rating,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary,Company_Name
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154.0,Healthfirst
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154.0,ManTech
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154.0,Analysis Group
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154.0,INFICON
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154.0,Affinity Solutions

In [30]:
df['Location'].str.split(",", expand = True).head()

           0    1     2
0   New York   NY  None
1  Chantilly   VA  None
2     Boston   MA  None
3     Newton   MA  None
4   New York   NY  None

In [31]:
# It is splitting into three columns. Meaning there might be a row or rows with more than one commas as a separator

df.at[534, 'Location']

'Patuxent, Anne Arundel, MD'

In [32]:
# Replacing the first comma with and

df.at[534, 'Location'] = df.at[534, 'Location'].replace('Patuxent, Anne Arundel, MD','Patuxent and Anne Arundel, MD')
df.at[534, 'Location']

'Patuxent and Anne Arundel, MD'

In [33]:
df['Location']

0                       New York, NY
1                      Chantilly, VA
2                         Boston, MA
3                         Newton, MA
4                       New York, NY
5                  Santa Barbara, CA
6                      Cambridge, MA
7                        Bedford, MA
8                      San Diego, CA
9                        Chicago, IL
10                       Herndon, VA
11                   Saint Louis, MO
12                      Richland, WA
13                    Northbrook, IL
14                    Washington, DC
15                    Washington, DC
16                            Remote
17                       Memphis, TN
18                         Plano, TX
19                    West Grove, PA
20                      New York, NY
21                      New York, NY
22                       Phoenix, AZ
23                      Appleton, WI
24                       Chicago, IL
25                       Atlanta, GA
26                       Orlando, FL
27                     Lexington, MA
28                        McLean, VA
29                 San Francisco, CA
30                        Boston, MA
31                     Cambridge, MA
32                        Boston, MA
33                     Sheboygan, WI
34                     United States
35                       Bothell, WA
36                       Lincoln, NE
37                 Overland Park, KS
38                     Chantilly, VA
39                  Santa Monica, CA
40                        Boston, MA
41                    Portsmouth, NH
42                         Ewing, NJ
43           South San Francisco, CA
44                     Palo Alto, CA
45                     Cambridge, MA
46                        Boston, MA
47                      Bellevue, WA
48                 San Francisco, CA
49                     Cambridge, MA
50                 San Francisco, CA
51                     Cambridge, MA
52                 San Francisco, CA
53                            Remote
54                   New Orleans, LA
55                         Akron, OH
56                   Saint Louis, MO
57                 San Francisco, CA
58                 San Francisco, CA
59                   Saint Louis, MO
60                    Fort Wayne, IN
61                        Woburn, MA
62                       Bedford, MA
63                 Santa Barbara, CA
64                        Carson, CA
65                  Coral Gables, FL
66                      New York, NY
67                   Santa Clara, CA
68                       Chicago, IL
69                      Brisbane, CA
70                   Winter Park, FL
71                  Redwood City, CA
72                 San Francisco, CA
73                        Peoria, IL
74                       Ipswich, MA
75                        Carmel, IN
76                      New York, NY
77                    Washington, DC
78                      New York, NY
79                    Emeryville, CA
80                  Gaithersburg, MD
81                    Washington, DC
82                   Saint Louis, MO
83                      Longmont, CO
84                        Austin, TX
85                 San Francisco, CA
86                        Yakima, WA
87                    Santa Cruz, CA
88                        Boston, MA
89                     United States
90                  Gaithersburg, MD
91                   Springfield, VA
92                    Alexandria, VA
93                              Utah
94                    Washington, DC
95                     San Diego, CA
96                        Reston, VA
97                      New York, NY
98                        Denver, CO
99                    Washington, DC
100                       New Jersey
101                       Aurora, CO
102                Santa Barbara, CA
103                San Francisco, CA
104                    San Diego, CA
105                     Hill AFB, UT
106                     Chandler, AZ
107                 Indianapolis, IN
108                    San Diego, CA
109                    Chantilly, VA
110                    Nashville, TN
111                     Timonium, MD
112                      Herndon, VA
113                   Burlingame, CA
114                       Reston, VA
115                     New York, NY
116           Annapolis Junction, MD
117                    Nashville, TN
118          South San Francisco, CA
119                     Bethesda, MD
120                       Dayton, OH
121                San Francisco, CA
122                      Herndon, VA
123                  Winter Park, FL
124                   Schaumburg, IL
125                    Cupertino, CA
126                  Saint Louis, MO
127                      Chicago, IL
128                  Winter Park, FL
129                    Cupertino, CA
130                San Francisco, CA
131                         Lehi, UT
132                  Culver City, CA
133                  Lake Oswego, OR
134                           Remote
135                           Remote
136                         Lehi, UT
137                    San Mateo, CA
138                San Francisco, CA
139                    Palo Alto, CA
140                      Holyoke, MA
141                      Chicago, IL
142                San Francisco, CA
143                       McLean, VA
144                      Herndon, VA
145                     Bethesda, MD
146                   Woodbridge, NJ
147                    San Diego, CA
148                    Cambridge, MA
149                     Dearborn, MI
150             Maryland Heights, MO
151                    Rockville, MD
152                  Carpinteria, CA
153                     Columbia, SC
154                    Hauppauge, NY
155                  Saint Louis, MO
156                      Herndon, VA
157                   Washington, DC
158                       Reston, VA
159                   Fort Meade, MD
160                San Francisco, CA
161                     Columbia, MO
162                    Chantilly, VA
163                   Washington, DC
164                    Vicksburg, MS
165                     Chandler, AZ
166                San Francisco, CA
167                San Francisco, CA
168                   Birmingham, AL
169                    Blue Bell, PA
170                      Chicago, IL
171                 Redwood City, CA
172                 Redwood City, CA
173                     New York, NY
174                    San Diego, CA
175                      Chicago, IL
176                   Cincinnati, OH
177                     Richland, WA
178                      Memphis, TN
179                      Memphis, TN
180                     Bethesda, MD
181                   Harrisburg, PA
182                     New York, NY
183                    Oak Ridge, TN
184                San Francisco, CA
185                       Boston, MA
186                   San Carlos, CA
187          South San Francisco, CA
188                      Herndon, VA
189                      Waltham, MA
190                San Francisco, CA
191                  Santa Clara, CA
192                 Gaithersburg, MD
193                San Francisco, CA
194                     New York, NY
195                   San Carlos, CA
196                   Fort Worth, TX
197                   Smithfield, RI
198                 Cedar Rapids, IA
199                           Remote
200                      Chicago, IL
201                       McLean, VA
202                 Fort Belvoir, VA
203                San Francisco, CA
204                    Cambridge, MA
205            Linthicum Heights, MD
206                      Herndon, VA
207                  Maple Plain, MN
208                        Tulsa, OK
209           Annapolis Junction, MD
210                       Newton, MA
211                      Herndon, VA
212                    Baltimore, MD
213                       Boston, MA
214                Oklahoma City, OK
215                 Gaithersburg, MD
216                 Fort Belvoir, VA
217                Scotts Valley, CA
218                       Boston, MA
219                 Redwood City, CA
220                  Spartanburg, SC
221                     New York, NY
222                      Orlando, FL
223                   Cincinnati, OH
224                San Francisco, CA
225                     Hartford, CT
226                      Chicago, IL
227                    United States
228                  Beavercreek, OH
229                    Baltimore, MD
230                      Norfolk, VA
231                     Bethesda, MD
232                    Oak Ridge, TN
233                    Charlotte, NC
234                     New York, NY
235                    Champaign, IL
236                San Francisco, CA
237                            Texas
238                San Francisco, CA
239                        Plano, TX
240                      Atlanta, GA
241                    Sheboygan, WI
242                     New York, NY
243                    Palo Alto, CA
244                      Hoboken, NJ
245                    Cambridge, MA
246                      Lebanon, IN
247                      Oakland, CA
248                San Francisco, CA
249                    Melbourne, FL
250                       Boston, MA
251                   Birmingham, AL
252                    Cleveland, OH
253                     New York, NY
254                     New York, NY
255                San Francisco, CA
256                      Norwell, MA
257                      Herndon, VA
258                     New York, NY
259                     San Jose, CA
260                San Francisco, CA
261                      Waltham, MA
262                    Lexington, MA
263                      Bothell, WA
264                     Richland, WA
265                       Boston, MA
266                    Rockville, MD
267                   Piscataway, NJ
268                     San Jose, CA
269                     New York, NY
270                  Santa Clara, CA
271                      Danvers, MA
272                     New York, NY
273                       Vienna, VA
274                San Francisco, CA
275                    Livermore, CA
276                   Pittsburgh, PA
277                      Herndon, VA
278                       Boston, MA
279                   Northbrook, IL
280                       Irvine, CA
281                       Irvine, CA
282                San Francisco, CA
283                 Santa Monica, CA
284                       Boston, MA
285                San Francisco, CA
286                     New York, NY
287                      Oshkosh, WI
288                   San Carlos, CA
289                   Menlo Park, CA
290                San Francisco, CA
291                       Dallas, TX
292                    Arlington, VA
293                San Francisco, CA
294                       Monroe, WI
295                   Sacramento, CA
296                     New York, NY
297                       Reston, VA
298                     New York, NY
299                      Hampton, VA
300                     Richmond, VA
301                     New York, NY
302                     Monterey, CA
303                      Chicago, IL
304                       McLean, VA
305                           Remote
306                     Woodlawn, MD
307                    United States
308                     New York, NY
309                       Reston, VA
310                     New York, NY
311                   Fort Worth, TX
312                   Smithfield, RI
313                      Atlanta, GA
314                San Francisco, CA
315                    Ann Arbor, MI
316                   Pittsburgh, PA
317                     New York, NY
318                 Cedar Rapids, IA
319                     New York, NY
320                      Concord, CA
321                     Richmond, VA
322                   Cincinnati, OH
323                San Francisco, CA
324                     Bellevue, WA
325                San Francisco, CA
326                      Oakland, CA
327                San Francisco, CA
328                       Boston, MA
329                       Reston, VA
330                 Fort Belvoir, VA
331                       Durham, NC
332                     New York, NY
333                       McLean, VA
334                    Cambridge, MA
335                      Chicago, IL
336                         Kent, OH
337                       Reston, VA
338                San Francisco, CA
339                   Pittsburgh, PA
340                       Carson, CA
341                     New York, NY
342                     New York, NY
343                  Santa Clara, CA
344                    Palo Alto, CA
345                  Maple Plain, MN
346                   Cincinnati, OH
347                     San Jose, CA
348                  Santa Clara, CA
349                     New York, NY
350                    Chantilly, VA
351                    Palo Alto, CA
352                       Laurel, MD
353                    Cambridge, MA
354                     Columbia, MD
355           Annapolis Junction, MD
356                 Falls Church, VA
357                San Francisco, CA
358                San Francisco, CA
359                San Francisco, CA
360                San Francisco, CA
361                San Francisco, CA
362                San Francisco, CA
363                      Herndon, VA
364                    Cambridge, MA
365                    Cambridge, MA
366                      Herndon, VA
367                Oklahoma City, OK
368                Thousand Oaks, CA
369                       Boston, MA
370                 Gaithersburg, MD
371                       Edison, NJ
372                      Adelphi, MD
373                   Washington, DC
374                      Seattle, WA
375                        Plano, TX
376                    Sunnyvale, CA
377                       Denver, CO
378                Thousand Oaks, CA
379                       McLean, VA
380                Scotts Valley, CA
381                       Boston, MA
382                       Boston, MA
383                     Hartford, CT
384                San Francisco, CA
385                       Boston, MA
386                       Denver, CO
387                    Cambridge, MA
388                San Francisco, CA
389                San Francisco, CA
390                 Redwood City, CA
391                      Fremont, CA
392                     Hamilton, NJ
393                 Falls Church, VA
394                      Chicago, IL
395                 Indianapolis, IN
396                   Washington, DC
397                      Herndon, VA
398                   Huntsville, AL
399                       Woburn, MA
400                      Herndon, VA
401                   Merrifield, VA
402                      Madison, WI
403                 Philadelphia, PA
404                Winston-Salem, NC
405                      Raleigh, NC
406                San Francisco, CA
407                San Francisco, CA
408                     Columbia, MD
409                    San Mateo, CA
410                       Boston, MA
411                      Burbank, CA
412                    Sunnyvale, CA
413                    San Ramon, CA
414                   Washington, DC
415                  Springfield, VA
416                      Phoenix, AZ
417                       Oxnard, CA
418                  Kansas City, MO
419                  Jersey City, NJ
420                   Manchester, NH
421                 Cedar Rapids, IA
422                      Winters, TX
423                    Ann Arbor, MI
424                     Brooklyn, NY
425                     New York, NY
426                       McLean, VA
427                     New York, NY
428                  Saint Louis, MO
429                      Concord, CA
430                 Fort Belvoir, VA
431                   Cincinnati, OH
432                San Francisco, CA
433                   Germantown, MD
434                        Omaha, NE
435                       McLean, VA
436                    Open Fork, VA
437                       Reston, VA
438                    United States
439                   San Carlos, CA
440                       Boston, MA
441                      Ashburn, VA
442                      Lombard, IL
443                      Hampton, VA
444                San Francisco, CA
445                     New York, NY
446                  Saint Louis, MO
447                San Francisco, CA
448                       Edison, NJ
449                    Cambridge, MA
450                   Alpharetta, GA
451                      Boulder, CO
452                      Atlanta, GA
453                 Falls Church, VA
454                Mountain View, CA
455                         Kent, OH
456                     Trumbull, CT
457                San Francisco, CA
458                   Pittsburgh, PA
459                     Sterling, VA
460                     New York, NY
461                   Alpharetta, GA
462                 Philadelphia, PA
463                       Carson, CA
464                  Foster City, CA
465                     New York, NY
466                    Frederick, MD
467                      Chicago, IL
468                  Santa Clara, CA
469                     New York, NY
470                  Maple Plain, MN
471             Colorado Springs, CO
472                     San Jose, CA
473                    United States
474                   Cincinnati, OH
475                      Atlanta, GA
476                   Washington, DC
477                    Arlington, VA
478                  Santa Clara, CA
479                        Tulsa, OK
480                    Chantilly, VA
481                   Southfield, MI
482                San Francisco, CA
483                    United States
484                       Laurel, MD
485                    Cambridge, MA
486           Annapolis Junction, MD
487                 Redwood City, CA
488                   Washington, DC
489                 San Clemente, CA
490                     New York, NY
491                 Falls Church, VA
492                       Newton, MA
493                San Francisco, CA
494                   Washington, DC
495                San Francisco, CA
496                San Francisco, CA
497                San Francisco, CA
498                San Francisco, CA
499                San Francisco, CA
500                San Francisco, CA
501                The Woodlands, TX
502                      Seattle, WA
503                      Chicago, IL
504                    Chantilly, VA
505                      Chicago, IL
506                San Francisco, CA
507                    Baltimore, MD
508                   Pleasanton, CA
509                   Wilmington, DE
510                    United States
511                     New York, NY
512                      Herndon, VA
513                      Seattle, WA
514                      Herndon, VA
515             Fort Sam Houston, TX
516                Oklahoma City, OK
517               Lexington Park, MD
518                       Boston, MA
519                    Cambridge, MA
520                   Washington, DC
521                   Washington, DC
522                      Raleigh, NC
523                       Dayton, OH
524                     New York, NY
525                   Washington, DC
526                      Seattle, WA
527                     New York, NY
528                   Washington, DC
529                     Longmont, CO
530                   Washington, DC
531                   Washington, DC
532                    Sunnyvale, CA
533                San Francisco, CA
534    Patuxent and Anne Arundel, MD
535                  Santa Clara, CA
536                      Fairfax, VA
537                       Denver, CO
538                 Fort Belvoir, VA
539                      Chicago, IL

In [34]:
df['Location'] = df['Location'].str.replace('Utah', ', UT')
df['Location'] = df['Location'].str.replace('Texas', ', TX')
df['Location'] = df['Location'].str.replace('New Jersey', ', NJ')
df['Location'] = df['Location'].str.replace('Remote', 'Remote, Remote')
df.head()

,Job Title,Job Description,Rating,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary,Company_Name
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154.0,Healthfirst
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154.0,ManTech
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154.0,Analysis Group
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154.0,INFICON
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154.0,Affinity Solutions

In [35]:
df['Location'].value_counts()

Location
San Francisco, CA                69
New York, NY                     50
Washington, DC                   26
Boston, MA                       24
Chicago, IL                      22
Herndon, VA                      21
Cambridge, MA                    18
McLean, VA                       12
Chantilly, VA                    11
United States                    11
Santa Clara, CA                   9
Reston, VA                        8
Saint Louis, MO                   8
San Diego, CA                     7
Gaithersburg, MD                  7
Redwood City, CA                  7
Atlanta, GA                       7
Remote, Remote                    6
Fort Belvoir, VA                  6
Cincinnati, OH                    6
Denver, CO                        5
Annapolis Junction, MD            5
Baltimore, MD                     5
Palo Alto, CA                     5
Falls Church, VA                  5
Thousand Oaks, CA                 5
Seattle, WA                       5
Bethesda, MD                      4
San Carlos, CA                    4
San Jose, CA                      4
Pittsburgh, PA                    4
Alexandria, VA                    4
Raleigh, NC                       4
Bellevue, WA                      4
Oklahoma City, OK                 4
South San Francisco, CA           4
Plano, TX                         4
Newton, MA                        3
Cupertino, CA                     3
Nashville, TN                     3
Laurel, MD                        3
Orlando, FL                       3
Richland, WA                      3
Bedford, MA                       3
Edison, NJ                        3
Santa Barbara, CA                 3
Sunnyvale, CA                     3
Memphis, TN                       3
Merrifield, VA                    3
Philadelphia, PA                  3
Austin, TX                        3
Cedar Rapids, IA                  3
Winter Park, FL                   3
Fort Worth, TX                    3
Woburn, MA                        3
Carson, CA                        3
Arlington, VA                     3
Maple Plain, MN                   3
Hartford, CT                      3
Livermore, CA                     2
Phoenix, AZ                       2
Hampton, VA                       2
Smithfield, RI                    2
Tulsa, OK                         2
Scotts Valley, CA                 2
Northbrook, IL                    2
Irvine, CA                        2
Waltham, MA                       2
Oakland, CA                       2
Columbia, MD                      2
Richmond, VA                      2
Alpharetta, GA                    2
Naperville, IL                    2
New Bedford, MA                   2
Fairfax, VA                       2
Lexington Park, MD                2
The Woodlands, TX                 2
San Clemente, CA                  2
Southfield, MI                    2
Omaha, NE                         2
Ann Arbor, MI                     2
Kansas City, MO                   2
Winston-Salem, NC                 2
Huntsville, AL                    2
Adelphi, MD                       2
Kent, OH                          2
Durham, NC                        2
Concord, CA                       2
Oak Ridge, TN                     2
Vienna, VA                        2
Emeryville, CA                    2
Rockville, MD                     2
San Mateo, CA                     2
Dayton, OH                        2
Lexington, MA                     2
Sheboygan, WI                     2
Indianapolis, IN                  2
Chandler, AZ                      2
, NJ                              2
Bothell, WA                       2
, UT                              2
Lehi, UT                          2
Springfield, VA                   2
Santa Cruz, CA                    2
Birmingham, AL                    2
Santa Monica, CA                  2
Longmont, CO                      2
Germantown, MD                    1
Mountain View, CA                 1
Colorado Springs, CO              1
Frederick, MD                     1
Foster City, CA                   1
Sterling, VA                      1
Trumbull, CT                      1
Jersey City, NJ                   1
Boulder, CO                       1
Brooklyn, NY                      1
Ipswich, MA                       1
Lombard, IL                       1
Manchester, NH                    1
Ashburn, VA                       1
Peoria, IL                        1
Winters, TX                       1
Carmel, IN                        1
Open Fork, VA                     1
Blue Bell, PA                     1
Oxnard, CA                        1
Brisbane, CA                      1
Fort Lee, NJ                      1
Quantico, VA                      1
West Chester, PA                  1
Redmond, WA                       1
Houston, TX                       1
Akron, OH                         1
Oakville, CA                      1
Bridgeport, WV                    1
Orange, CA                        1
Washington, VA                    1
Wellesley, MA                     1
California                        1
Gahanna, OH                       1
Minneapolis, MN                   1
Collegeville, PA                  1
Rancho Cucamonga, CA              1
Fort Wayne, IN                    1
Simi Valley, CA                   1
Portland, OR                      1
Silver Spring, MD                 1
San Antonio, TX                   1
Coral Gables, FL                  1
Patuxent and Anne Arundel, MD     1
Ewing, NJ                         1
Fort Sam Houston, TX              1
Wilmington, DE                    1
Pleasanton, CA                    1
Portsmouth, NH                    1
Hamilton, NJ                      1
San Ramon, CA                     1
Spartanburg, SC                   1
Melbourne, FL                     1
Holyoke, MA                       1
Lebanon, IN                       1
Hoboken, NJ                       1
, TX                              1
Champaign, IL                     1
Charlotte, NC                     1
Norfolk, VA                       1
Beavercreek, OH                   1
Woodbridge, NJ                    1
Dearborn, MI                      1
Burbank, CA                       1
Maryland Heights, MO              1
West Grove, PA                    1
Carpinteria, CA                   1
Linthicum Heights, MD             1
Columbia, SC                      1
Hauppauge, NY                     1
Fort Meade, MD                    1
Columbia, MO                      1
Vicksburg, MS                     1
Appleton, WI                      1
Cleveland, OH                     1
Norwell, MA                       1
Piscataway, NJ                    1
Danvers, MA                       1
Yakima, WA                        1
Madison, WI                       1
Harrisburg, PA                    1
Fremont, CA                       1
Overland Park, KS                 1
Lincoln, NE                       1
Aurora, CO                        1
Hill AFB, UT                      1
Timonium, MD                      1
Burlingame, CA                    1
Woodlawn, MD                      1
Monterey, CA                      1
Sacramento, CA                    1
Monroe, WI                        1
Schaumburg, IL                    1
Dallas, TX                        1
Menlo Park, CA                    1
Oshkosh, WI                       1
Culver City, CA                   1
Lake Oswego, OR                   1
New Orleans, LA                   1
Irwindale, CA                     1
Name: count, dtype: int64

In [36]:
df[['Location_City', 'Location_State']] = df['Location'].str.split(",", expand = True)
df.head()

,Job Title,Job Description,Rating,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary,Company_Name,Location_City,Location_State
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154.0,Healthfirst,New York,NY
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154.0,ManTech,Chantilly,VA
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154.0,Analysis Group,Boston,MA
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154.0,INFICON,Newton,MA
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154.0,Affinity Solutions,New York,NY

In [37]:
del df['Location']

In [38]:
df.head()

,Job Title,Job Description,Rating,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary,Company_Name,Location_City,Location_State
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,"New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154.0,Healthfirst,New York,NY
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,"Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154.0,ManTech,Chantilly,VA
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,"Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154.0,Analysis Group,Boston,MA
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,"Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154.0,INFICON,Newton,MA
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,"New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154.0,Affinity Solutions,New York,NY

In [39]:
df['Headquarters'].value_counts()

Headquarters
New York, NY                 33
-1                           31
San Francisco, CA            31
Chicago, IL                  23
Boston, MA                   19
Reston, VA                   14
Mc Lean, VA                  13
Westminster, CO              12
Cambridge, United Kingdom    10
Cambridge, MA                10
Vienna, VA                    8
Denver, CO                    7
Herndon, VA                   7
Washington, DC                7
Woodbine, MD                  7
Saint Louis, MO               7
Bedford, MA                   7
Arlington, VA                 7
San Jose, CA                  7
San Antonio, TX               6
Mountain View, CA             6
Basel, Switzerland            6
San Rafael, CA                6
Chantilly, VA                 6
Fairfax, VA                   5
Houston, TX                   5
Pittsburgh, PA                5
Bethesda, MD                  5
Rockville, MD                 5
Los Angeles, CA               5
Springfield, MA               5
Bellevue, WA                  5
Princeton, NJ                 5
Annapolis Junction, MD        4
Cedar Rapids, IA              4
South San Francisco, CA       4
McLean, VA                    4
Falls Church, VA              4
Orlando, FL                   4
Pleasanton, CA                4
Raleigh, NC                   4
Aliso Viejo, CA               4
Santa Clara, CA               4
Santa Cruz, CA                4
San Diego, CA                 4
Austin, TX                    4
Palo Alto, CA                 4
Memphis, TN                   4
Indianapolis, IN              3
Paris, France                 3
Naperville, IL                3
Atlanta, GA                   3
Hillsborough, NJ              3
Sunnyvale, CA                 3
Minneapolis, MN               3
Laurel, MD                    3
Columbus, OH                  3
Winter Park, FL               3
Alexandria, VA                3
Lincoln, NE                   3
Jersey City, NJ               3
Woburn, MA                    3
Carson, CA                    3
Folsom, CA                    3
Westlake Village, CA          3
Richland, WA                  3
Seattle, WA                   3
Maple Plain, MN               3
Hartford, CT                  3
Fort Worth, TX                2
Lorton, VA                    2
Itasca, IL                    2
Carle Place, NY               2
Fairmont, WV                  2
Kent, WA                      2
Coconut Creek, FL             2
Cupertino, CA                 2
Waltham, MA                   2
Baltimore, MD                 2
Nashville, TN                 2
Plainsboro, NJ                2
Toronto, Canada               2
Germantown, MD                2
Kansas City, MO               2
Winston-Salem, NC             2
Huntsville, AL                2
New York, 061                 2
Wilmington, MA                2
Danville, CA                  2
Columbia, MD                  2
San Carlos, CA                2
North Brunswick, NJ           2
Edison, NJ                    2
Kent, OH                      2
Leesburg, VA                  2
Saint Paul, MN                2
London, United Kingdom        2
Cincinnati, OH                2
Brentford, United Kingdom     2
Fremont, CA                   2
Irvine, CA                    2
Somerset, NJ                  2
Scotts Valley, CA             2
Lynchburg, VA                 2
Stamford, CT                  2
San Mateo, CA                 2
Holmdel, NJ                   2
South Jordan, UT              2
Emeryville, CA                2
Hamilton, Bermuda             2
San Ramon, CA                 2
OSAKA, Japan                  2
Singapore, Singapore          2
Santa Monica, CA              2
Sheboygan, WI                 2
Lexington, MA                 2
Menlo Park, CA                2
Mays Landing, NJ              2
Northbrook, IL                2
Santa Barbara, CA             2
Lehi, UT                      2
Chevy Chase, MD               2
Greenville, SC                2
Saxonburg, PA                 1
Livonia, MI                   1
Glen Allen, VA                1
Blue Bell, PA                 1
Chadds Ford, PA               1
Trumbull, CT                  1
Armonk, NY                    1
Ventura, CA                   1
Aurora, Canada                1
Chandler, AZ                  1
Ewing, NJ                     1
Ashburn, VA                   1
Clifton Park, NY              1
Reading, PA                   1
Omaha, NE                     1
Columbia, MO                  1
Alpharetta, GA                1
Bengaluru, India              1
Marcy-l'Etoile, France        1
Hanover, MD                   1
Hilliard, OH                  1
New Orleans, LA               1
Half Moon Bay, CA             1
Akron, OH                     1
Phila, PA                     1
Troy, MI                      1
Tempe, AZ                     1
Zurich, Switzerland           1
Rancho Cucamonga, CA          1
Utica, MI                     1
West Chester, PA              1
San Bruno, CA                 1
Oakville, Canada              1
Littleton, CO                 1
Orange, CA                    1
Albertville, AL               1
Plano, TX                     1
Langley, VA                   1
Albuquerque, NM               1
Simi Valley, CA               1
Cherry Hill, NJ               1
Marbella, Spain               1
Milan, IL                     1
Rome, NY                      1
Totowa, NJ                    1
Tampa, FL                     1
Bad Ragaz, Switzerland        1
Harrisburg, PA                1
Honolulu, HI                  1
Lombard, IL                   1
Redwood City, CA              1
Madison, WI                   1
Wilsonville, OR               1
Bristol, PA                   1
Lake Buena Vista, FL          1
Monroe, WI                    1
Burlingame, CA                1
Oshkosh, WI                   1
Beavercreek, OH               1
Schaumburg, IL                1
Manalapan, NJ                 1
Dallas, TX                    1
Lake Oswego, OR               1
Livermore, CA                 1
Philadelphia, PA              1
Danvers, MA                   1
Piscataway, NJ                1
Holyoke, MA                   1
Dulles, VA                    1
Cleveland, OH                 1
Birmingham, AL                1
Tucson, AZ                    1
Detroit, MI                   1
Santa Ana, CA                 1
Greenwich, CT                 1
Charlotte, NC                 1
Hoboken, NJ                   1
Bangalore, India              1
Goteborg, Sweden              1
Schaffhausen, Switzerland     1
Coral Gables, FL              1
Richmond, VA                  1
Reading, MA                   1
Columbia, SC                  1
Brisbane, CA                  1
Deerfield, IL                 1
Ipswich, MA                   1
Carmel, IN                    1
Benicia, CA                   1
Spartanburg, SC               1
Woodbridge, NJ                1
Yakima, WA                    1
Durham, NC                    1
Chennai, India                1
Tel Aviv-Yafo, Israel         1
Aurora, CO                    1
Carpinteria, CA               1
Goleta, CA                    1
Franklin, TN                  1
Lutherville Timonium, MD      1
Beltsville, MD                1
Irving, TX                    1
Scottsdale, AZ                1
Greensboro, NC                1
Newark, CA                    1
Fort Lee, NJ                  1
Name: count, dtype: int64

In [40]:
# replacing the -1 in to null

df['Headquarters'] = df['Headquarters'].str.replace('-1','')

In [41]:
df[['Headquarter_City','Headquarter_State']] = df['Headquarters'].str.split(",", expand = True)
df.head()

,Job Title,Job Description,Rating,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary,Company_Name,Location_City,Location_State,Headquarter_City,Headquarter_State
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,"New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154.0,Healthfirst,New York,NY,New York,NY
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,"Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154.0,ManTech,Chantilly,VA,Herndon,VA
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,"Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154.0,Analysis Group,Boston,MA,Boston,MA
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,"Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154.0,INFICON,Newton,MA,Bad Ragaz,Switzerland
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,"New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154.0,Affinity Solutions,New York,NY,New York,NY

In [42]:
del df['Headquarters']

In [43]:
df.head()

,Job Title,Job Description,Rating,Size,Founded,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary,Company_Name,Location_City,Location_State,Headquarter_City,Headquarter_State
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154.0,Healthfirst,New York,NY,New York,NY
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154.0,ManTech,Chantilly,VA,Herndon,VA
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154.0,Analysis Group,Boston,MA,Boston,MA
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154.0,INFICON,Newton,MA,Bad Ragaz,Switzerland
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154.0,Affinity Solutions,New York,NY,New York,NY

In [44]:
df['Job Title'].value_counts()

Job Title
Data Scientist                                                                                      337
Data Engineer                                                                                        26
Senior Data Scientist                                                                                19
Machine Learning Engineer                                                                            16
Data Analyst                                                                                         12
Senior Data Analyst                                                                                   6
Senior Data Engineer                                                                                  5
Data Science Software Engineer                                                                        4
ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR      4
Data Scientist - TS/SCI FSP or CI Required                                                            4
Principal Data Scientist                                                                              3
Sr. ML/Data Scientist - AI/NLP/Chatbot                                                                3
AI Ops Data Scientist                                                                                 3
Data Modeler (Analytical Systems)                                                                     3
Lead Data Scientist                                                                                   3
Senior Machine Learning Scientist - Bay Area, CA                                                      3
Decision Scientist                                                                                    3
Senior Business Intelligence Analyst                                                                  3
Data Scientist - TS/SCI Required                                                                      3
Analytics - Business Assurance Data Analyst                                                           3
Senior Data Scientist – Image Analytics, Novartis AI Innovation Lab                                   3
In-Line Inspection Data Analyst                                                                       2
Applied Computer Scientist                                                                            2
Data Scientist(s)/Machine Learning Engineer                                                           2
Senior Data Scientist - R&D Oncology                                                                  2
Principal Machine Learning Scientist                                                                  2
Principal Data Scientist - Machine Learning                                                           2
Computational Behavioral Scientist                                                                    2
Sr. Data Scientist II                                                                                 2
Research Scientist - Patient-Centered Research (Remote)                                               2
Scientist / Group Lead, Cancer Biology                                                                2
Principal Scientist/Associate Director, Quality Control and Analytical Technologies                   2
Intelligence Data Analyst, Senior                                                                     2
Weapons and Sensors Engineer/Scientist                                                                2
Scientist - Machine Learning                                                                          2
Data Scientist (TS/SCI w/ Poly)                                                                       2
Computer Vision / Deep Learning Scientist                                                             2
IT Partner Digital Health Technology and Data Science                                                 2
Senior Data Analyst - Finance & Platform Analytics                                                    2
Data Engineer (Analytics, SQL, Python, AWS)                                                           2
Sr. Data Scientist                                                                                    2
Cloud Data Engineer (Azure)                                                                           2
Analytics Manager - Data Mart                                                                         2
Data Engineer - Kafka                                                                                 2
VP, Data Science                                                                                      2
Senior Scientist - Toxicologist - Product Integrity (Stewardship)                                     2
Senior Machine Learning Engineer                                                                      2
Data Analyst - Unilever Prestige                                                                      2
Machine Learning Engineer/Scientist                                                                   2
Sr Data Scientist                                                                                     2
Health Plan Data Analyst, Sr                                                                          2
Data Scientist - Image and Video Analytics                                                            2
Data & Machine Learning Scientist                                                                     2
Product Data Scientist - Ads Data Science                                                             2
Data Scientist - Intermediate                                                                         2
Data Scientist / Machine Learning Expert                                                              2
(Sr.) Data Scientist -                                                                                2
Staff Data Scientist - Analytics                                                                      2
Patient Safety- Associate Data Scientist                                                              2
Data Scientist - Machine Learning                                                                     2
Data Analytics Engineer                                                                               2
Data Scientist / Applied Mathematician                                                                2
Data Scientist - Statistics, Early Career                                                             2
Data Scientist - Contract                                                                             2
Real World Science, Data Scientist                                                                    2
Data Scientist 3 (718)                                                                                2
Data Scientist, Applied Machine Learning - Bay Area                                                   2
Data Scientist, Kinship - NYC/Portland                                                                2
Experienced Data Scientist                                                                            2
Data Scientist-Human Resources                                                                        2
Data Scientist/Machine Learning                                                                       2
Senior Analyst/Data Scientist                                                                         2
Business Intelligence Analyst                                                                         2
Associate Data Scientist                                                                              2
Data Scientist - Risk                                                                                 2
Senior Research Statistician- Data Scientist                                                          2
Data Solutions Engineer - Data Modeler                                                                1
Scientist - Molecular Biology                                                                         1
Data Analyst I                                                                                        1
Data Science All Star Program - Data Engineer Track                                                   1
Applied AI Scientist / Engineer                                                                       1
Lead Certified Clinical Laboratory Scientist - Saturday - Tuesday, 8:00pm - 6:30am shift              1
Business Intelligence Analyst I- Data Insights                                                        1
Market Research Data Scientist                                                                        1
Data Analyst II                                                                                       1
Human Factors Scientist                                                                               1
Software Engineer (Data Scientist, C,C++,Linux,Unix) - SISW - MG                                      1
Senior Clinical Data Scientist Programmer                                                             1
Medical Lab Scientist                                                                                 1
Sr Data Engineer (Sr BI Developer)                                                                    1
Sr. Data Analyst                                                                                      1
Data Modeler                                                                                          1
Data Scientist/Data Analytics Practitioner                                                            1
Hydrogen/Tritium Materials Scientist (Experienced)                                                    1
Developer III - Data Science                                                                          1
Sr. Research Associate/ Scientist, NGS prep & Molecular Genomics                                      1
Lead Data Scientist – Network Analysis and Control                                                    1
Enterprise Data Analyst (Enterprise Portfolio Management Office)                                      1
Vice President, Biometrics and Clinical Data Management                                               1
Scientist/Research Associate-Metabolic Engineering                                                    1
Information Systems Engineering Specialist (Engineering Scientist)                                    1
Machine Learning Engineer, Sr.                                                                        1
Aviation AI/ML Data Scientist                                                                         1
Data Architect                                                                                        1
Big Data Engineer                                                                                     1
Data Science Manager                                                                                  1
Data Scientist Technical Specialist                                                                   1
Clinical Data Analyst                                                                                 1
Software Engineer - Machine Learning & Data Science (Applied Intelligence Services Team)              1
COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY               1
Data Science Analyst                                                                                  1
Machine Learning Scientist / Engineer                                                                 1
COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING                       1
Manager, Field Application Scientist, Southeast                                                       1
Senior Principal Data Scientist (Python/R)                                                            1
Data Scientist- Industrial Discrete Sector Industry                                                   1
Development Scientist, Voltaren                                                                       1
Principal Data & Analytics Platform Engineer                                                          1
Data Scientist - Statistics, Mid-Career                                                               1
Chief Scientist                                                                                       1
Production Engineer - Statistics/Data Analysis                                                        1
Senior Data & Machine Learning Scientist                                                              1
Senior Data Scientist - Algorithms                                                                    1
Machine Learning Scientist - Bay Area, CA                                                             1
Sr Data Analyst                                                                                       1
Computational Scientist                                                                               1
Geospatial Data Scientist                                                                             1
Say Business Data Analyst                                                                             1
ELISA RESEARCH SCIENTIST (CV-15)                                                                      1
Sr Scientist - Extractables & Leachables                                                              1
Staff Scientist- Upstream PD                                                                          1
Analytics Manager                                                                                     1
Scientist - Biomarker and Flow Cytometry                                                              1
Research Scientist Patient Preferences (Remote)                                                       1
AI Data Scientist                                                                                     1
Tableau Data Engineer 20-0117                                                                         1
Data Integration and Modeling Engineer                                                                1
Applied Technology Researcher / Data Scientist                                                        1
Health Data Scientist - Biomedical/Biostats                                                           1
NGS Scientist                                                                                         1
Data Analyst/Engineer                                                                                 1
Software Engineer - Data Science                                                                      1
Data Scientist (TS/SCI)                                                                               1
RFP Data Analyst                                                                                      1
Jr. Business Data Analyst (position added 6/12/2020)                                                  1
Statistical Scientist                                                                                 1
Data Scientist Machine Learning                                                                       1
Data Science Manager, Payment Acceptance - USA                                                        1
Diversity and Inclusion Data Analyst                                                                  1
Manager / Lead, Data Science & Analytics                                                              1
Data Engineer, Digital & Comp Pathology                                                               1
Director of Data Science                                                                              1
Staff Data Scientist                                                                                  1
Staff BI and Data Engineer                                                                            1
Environmental Data Science                                                                            1
Computer Scientist 1                                                                                  1
Real World Evidence (RWE) Scientist                                                                   1
Software Data Engineer                                                                                1
Operations Data Analyst                                                                               1
Equity Data Insights Analyst - Quantitative Analyst                                                   1
Staff Data Scientist - Pricing                                                                        1
Report Writer-Data Analyst                                                                            1
Computational Scientist, Machine Learning                                                             1
Jr. Data Engineer                                                                                     1
E-Commerce Data Analyst                                                                               1
Global Data Analyst                                                                                   1
Data Engineer (Remote)                                                                                1
Data Science Instructor                                                                               1
Business Data Analyst                                                                                 1
Purification Scientist                                                                                1
Data Engineer, Enterprise Analytics                                                                   1
AI/ML - Machine Learning Scientist, Siri Understanding                                                1
Name: count, dtype: int64

In [45]:
df['Job Title'].unique()

array(['Sr Data Scientist', 'Data Scientist',
       'Data Scientist / Machine Learning Expert',
       'Staff Data Scientist - Analytics',
       'Data Scientist - Statistics, Early Career', 'Data Modeler',
       'Experienced Data Scientist', 'Data Scientist - Contract',
       'Data Analyst II', 'Medical Lab Scientist',
       'Data Scientist/Machine Learning', 'Human Factors Scientist',
       'Business Intelligence Analyst I- Data Insights',
       'Data Scientist - Risk', 'Data Scientist-Human Resources',
       'Senior Research Statistician- Data Scientist', 'Data Engineer',
       'Associate Data Scientist', 'Business Intelligence Analyst',
       'Senior Analyst/Data Scientist', 'Data Analyst',
       'Machine Learning Engineer', 'Data Analyst I',
       'Scientist - Molecular Biology',
       'Computational Scientist, Machine Learning',
       'Senior Data Scientist', 'Jr. Data Engineer',
       'E-Commerce Data Analyst', 'Data Analytics Engineer',
       'Product Data Scientist - Ads Data Science',
       'Data Scientist - Intermediate', 'Global Data Analyst',
       'Data & Machine Learning Scientist',
       'Data Scientist - Machine Learning', 'Data Engineer (Remote)',
       'Data Scientist, Applied Machine Learning - Bay Area',
       'Principal Data Scientist', 'Business Data Analyst',
       'Purification Scientist', 'Data Engineer, Enterprise Analytics',
       'Data Scientist 3 (718)', 'Real World Science, Data Scientist',
       'Data Scientist - Image and Video Analytics',
       'Data Science Manager, Payment Acceptance - USA',
       'Data Scientist / Applied Mathematician',
       'Patient Safety- Associate Data Scientist',
       '(Sr.) Data Scientist -', 'Data Scientist, Kinship - NYC/Portland',
       'Applied Technology Researcher / Data Scientist',
       'Health Data Scientist - Biomedical/Biostats',
       'Staff Data Scientist', 'Sr Data Engineer (Sr BI Developer)',
       'Lead Data Scientist', 'RFP Data Analyst',
       'Data Scientist (TS/SCI)', 'Software Engineer - Data Science',
       'Data Analyst/Engineer', 'NGS Scientist', 'Senior Data Engineer',
       'Sr. ML/Data Scientist - AI/NLP/Chatbot',
       'Data Integration and Modeling Engineer',
       'Tableau Data Engineer 20-0117', 'AI Data Scientist',
       'Research Scientist Patient Preferences (Remote)',
       'Scientist - Biomarker and Flow Cytometry', 'Analytics Manager',
       'Staff Scientist- Upstream PD',
       'Sr Scientist - Extractables & Leachables',
       'ELISA RESEARCH SCIENTIST (CV-15)', 'Say Business Data Analyst',
       'Geospatial Data Scientist', 'Computational Scientist',
       'Senior Data Analyst', 'Sr Data Analyst',
       'Machine Learning Scientist - Bay Area, CA',
       'Senior Data Scientist - Algorithms',
       'Senior Data & Machine Learning Scientist',
       'Research Scientist - Patient-Centered Research (Remote)',
       'Jr. Business Data Analyst (position added 6/12/2020)',
       'Sr. Data Scientist II',
       'Production Engineer - Statistics/Data Analysis',
       'Statistical Scientist', 'Computational Behavioral Scientist',
       'Principal Data Scientist - Machine Learning',
       'Principal Machine Learning Scientist',
       'Senior Data Scientist - R&D Oncology',
       'Health Plan Data Analyst, Sr',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Analytics - Business Assurance Data Analyst',
       'Senior Data Scientist – Image Analytics, Novartis AI Innovation Lab',
       'Data Science Instructor', 'Senior Business Intelligence Analyst',
       'In-Line Inspection Data Analyst',
       'Data Scientist - TS/SCI FSP or CI Required',
       'Data Scientist - TS/SCI Required',
       'Data Science Software Engineer',
       'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
       'AI Ops Data Scientist', 'Intelligence Data Analyst, Senior',
       'Analytics Manager - Data Mart',
       'Data Modeler (Analytical Systems)',
       'Senior Machine Learning Scientist - Bay Area, CA',
       'Report Writer-Data Analyst', 'Staff Data Scientist - Pricing',
       'Equity Data Insights Analyst - Quantitative Analyst',
       'Operations Data Analyst', 'Software Data Engineer',
       'Real World Evidence (RWE) Scientist', 'Computer Scientist 1',
       'Environmental Data Science', 'Staff BI and Data Engineer',
       'Data Scientist - Statistics, Mid-Career',
       'Director of Data Science',
       'Data Engineer, Digital & Comp Pathology',
       'Manager / Lead, Data Science & Analytics',
       'Diversity and Inclusion Data Analyst',
       'Data Scientist Machine Learning', 'Chief Scientist',
       'Development Scientist, Voltaren',
       'Principal Data & Analytics Platform Engineer',
       'Machine Learning Engineer/Scientist',
       'Data Analyst - Unilever Prestige', 'VP, Data Science',
       'Data Engineer - Kafka', 'Decision Scientist',
       'Data Science All Star Program - Data Engineer Track',
       'Scientist - Machine Learning', 'Sr. Data Scientist',
       'Applied AI Scientist / Engineer',
       'Data Engineer (Analytics, SQL, Python, AWS)',
       'Senior Data Analyst - Finance & Platform Analytics',
       'Market Research Data Scientist',
       'IT Partner Digital Health Technology and Data Science',
       'Software Engineer (Data Scientist, C,C++,Linux,Unix) - SISW - MG',
       'Senior Clinical Data Scientist Programmer',
       'Computer Vision / Deep Learning Scientist',
       'Data Solutions Engineer - Data Modeler',
       'Data Scientist (TS/SCI w/ Poly)',
       'Weapons and Sensors Engineer/Scientist',
       'Applied Computer Scientist', 'Cloud Data Engineer (Azure)',
       'Lead Certified Clinical Laboratory Scientist - Saturday - Tuesday, 8:00pm - 6:30am shift',
       'Sr. Data Analyst',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Senior Machine Learning Engineer',
       'Data Scientist- Industrial Discrete Sector Industry',
       'Senior Principal Data Scientist (Python/R)',
       'Data Scientist(s)/Machine Learning Engineer',
       'Scientist / Group Lead, Cancer Biology',
       'Manager, Field Application Scientist, Southeast',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING',
       'Machine Learning Scientist / Engineer', 'Data Science Analyst',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY',
       'Software Engineer - Machine Learning & Data Science (Applied Intelligence Services Team)',
       'Clinical Data Analyst', 'Data Scientist Technical Specialist',
       'Data Science Manager', 'Big Data Engineer', 'Data Architect',
       'Aviation AI/ML Data Scientist', 'Machine Learning Engineer, Sr.',
       'Information Systems Engineering Specialist (Engineering Scientist)',
       'Scientist/Research Associate-Metabolic Engineering',
       'Vice President, Biometrics and Clinical Data Management',
       'Enterprise Data Analyst (Enterprise Portfolio Management Office)',
       'Lead Data Scientist – Network Analysis and Control',
       'Sr. Research Associate/ Scientist, NGS prep & Molecular Genomics',
       'Developer III - Data Science',
       'Hydrogen/Tritium Materials Scientist (Experienced)',
       'Data Scientist/Data Analytics Practitioner',
       'AI/ML - Machine Learning Scientist, Siri Understanding'],
      dtype=object)

In [46]:
def job_title_classifier(title):

    if 'data scientist' in title.lower(): 
        return 'Data Scientist'
    elif 'data engineer' in title.lower():
        return 'Data Engineer'
    elif 'analyst' in title.lower():
        return 'Data Analyst'
    elif 'machine learning' in title.lower():
        return 'Machine Learning Engineer'
    elif 'manager' in title.lower():
        return 'Manager'
    elif 'director' in title.lower():
        return 'Director'
    elif 'data modeler' in title.lower():
        return 'Data Modeler'
    elif 'Data Analytics Engineer'in title:
        return 'Data Engineer'
    elif 'Data Integration and Modeling Engineer' in title:
        return 'Data Engineer'
    elif 'Software Engineer' in title:
        return 'Software Engineer'
    else:
        return 'NA'

In [47]:
df['Job_Title_Cleaned'] = df['Job Title'].apply(job_title_classifier)
df['Job_Title_Cleaned'].value_counts()

Job_Title_Cleaned
Data Scientist               455
NA                            56
Data Analyst                  55
Data Engineer                 50
Machine Learning Engineer     36
Manager                        7
Data Modeler                   5
Software Engineer              5
Director                       3
Name: count, dtype: int64

In [48]:
df.head()

,Job Title,Job Description,Rating,Size,Founded,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary,Company_Name,Location_City,Location_State,Headquarter_City,Headquarter_State,Job_Title_Cleaned
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154.0,Healthfirst,New York,NY,New York,NY,Data Scientist
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154.0,ManTech,Chantilly,VA,Herndon,VA,Data Scientist
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154.0,Analysis Group,Boston,MA,Boston,MA,Data Scientist
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154.0,INFICON,Newton,MA,Bad Ragaz,Switzerland,Data Scientist
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154.0,Affinity Solutions,New York,NY,New York,NY,Data Scientist

In [49]:
df[['Job Title', 'Job_Title_Cleaned']]

,Job Title,Job_Title_Cleaned
0,Sr Data Scientist,Data Scientist
1,Data Scientist,Data Scientist
2,Data Scientist,Data Scientist
3,Data Scientist,Data Scientist
4,Data Scientist,Data Scientist
5,Data Scientist,Data Scientist
6,Data Scientist / Machine Learning Expert,Data Scientist
7,Data Scientist,Data Scientist
8,Staff Data Scientist - Analytics,Data Scientist
9,Data Scientist,Data Scientist
10,Data Scientist,Data Scientist
11,Data Scientist,Data Scientist
12,"Data Scientist - Statistics, Early Career",Data Scientist
13,Data Modeler,Data Modeler
14,Data Scientist,Data Scientist
15,Experienced Data Scientist,Data Scientist
16,Data Scientist - Contract,Data Scientist
17,Data Scientist,Data Scientist
18,Data Analyst II,Data Analyst
19,Medical Lab Scientist,NA
20,Data Scientist,Data Scientist
21,Data Scientist/Machine Learning,Data Scientist
22,Human Factors Scientist,NA
23,Business Intelligence Analyst I- Data Insights,Data Analyst
24,Data Scientist,Data Scientist
25,Data Scientist,Data Scientist
26,Data Scientist - Risk,Data Scientist
27,Data Scientist-Human Resources,Data Scientist
28,Data Scientist,Data Scientist
29,Data Scientist,Data Scientist
30,Data Scientist,Data Scientist
31,Data Scientist / Machine Learning Expert,Data Scientist
32,Data Scientist,Data Scientist
33,Senior Research Statistician- Data Scientist,Data Scientist
34,Data Engineer,Data Engineer
35,Associate Data Scientist,Data Scientist
36,Business Intelligence Analyst,Data Analyst
37,Data Scientist,Data Scientist
38,Data Scientist,Data Scientist
39,Senior Analyst/Data Scientist,Data Scientist
40,Data Analyst,Data Analyst
41,Machine Learning Engineer,Machine Learning Engineer
42,Data Analyst I,Data Analyst
43,Scientist - Molecular Biology,NA
44,Data Scientist,Data Scientist
45,"Computational Scientist, Machine Learning",Machine Learning Engineer
46,Senior Data Scientist,Data Scientist
47,Data Scientist,Data Scientist
48,Data Scientist,Data Scientist
49,Data Scientist,Data Scientist
50,Data Analyst,Data Analyst
51,Data Scientist,Data Scientist
52,Data Scientist,Data Scientist
53,Jr. Data Engineer,Data Engineer
54,E-Commerce Data Analyst,Data Analyst
55,Data Analytics Engineer,Data Engineer
56,Senior Data Scientist,Data Scientist
57,Product Data Scientist - Ads Data Science,Data Scientist
58,Data Scientist,Data Scientist
59,Data Scientist - Intermediate,Data Scientist
60,Data Analyst,Data Analyst
61,Machine Learning Engineer,Machine Learning Engineer
62,Data Scientist,Data Scientist
63,Data Scientist,Data Scientist
64,Global Data Analyst,Data Analyst
65,Data Engineer,Data Engineer
66,Data Scientist,Data Scientist
67,Data Scientist,Data Scientist
68,Data & Machine Learning Scientist,Machine Learning Engineer
69,Data Scientist - Machine Learning,Data Scientist
70,Data Engineer (Remote),Data Engineer
71,"Data Scientist, Applied Machine Learning - Bay...",Data Scientist
72,Principal Data Scientist,Data Scientist
73,Business Data Analyst,Data Analyst
74,Purification Scientist,NA
75,Data Analyst,Data Analyst
76,"Data Engineer, Enterprise Analytics",Data Engineer
77,Data Scientist,Data Scientist
78,Data Scientist,Data Scientist
79,Data Scientist 3 (718),Data Scientist
80,"Real World Science, Data Scientist",Data Scientist
81,Data Scientist,Data Scientist
82,Data Engineer,Data Engineer
83,Data Scientist - Image and Video Analytics,Data Scientist
84,Data Scientist,Data Scientist
85,"Data Science Manager, Payment Acceptance - USA",Manager
86,Data Analyst,Data Analyst
87,Data Scientist / Applied Mathematician,Data Scientist
88,Machine Learning Engineer,Machine Learning Engineer
89,Data Scientist,Data Scientist
90,Patient Safety- Associate Data Scientist,Data Scientist
91,Machine Learning Engineer,Machine Learning Engineer
92,Senior Data Scientist,Data Scientist
93,(Sr.) Data Scientist -,Data Scientist
94,Data Scientist,Data Scientist
95,Staff Data Scientist - Analytics,Data Scientist
96,Data Analytics Engineer,Data Engineer
97,"Data Scientist, Kinship - NYC/Portland",Data Scientist
98,Senior Data Scientist,Data Scientist
99,Applied Technology Researcher / Data Scientist,Data Scientist
100,Data Scientist,Data Scientist
101,Machine Learning Engineer,Machine Learning Engineer
102,Health Data Scientist - Biomedical/Biostats,Data Scientist
103,Senior Data Scientist,Data Scientist
104,Staff Data Scientist,Data Scientist
105,Data Scientist,Data Scientist
106,Sr Data Engineer (Sr BI Developer),Data Engineer
107,Data Engineer,Data Engineer
108,Lead Data Scientist,Data Scientist
109,Data Scientist,Data Scientist
110,RFP Data Analyst,Data Analyst
111,Data Analyst,Data Analyst
112,Data Scientist (TS/SCI),Data Scientist
113,Data Engineer,Data Engineer
114,Data Scientist,Data Scientist
115,Data Scientist,Data Scientist
116,Software Engineer - Data Science,Software Engineer
117,Data Analyst/Engineer,Data Analyst
118,NGS Scientist,NA
119,Data Engineer,Data Engineer
120,Data Scientist,Data Scientist
121,Senior Data Engineer,Data Engineer
122,Senior Data Scientist,Data Scientist
123,Data Engineer,Data Engineer
124,Business Intelligence Analyst,Data Analyst
125,Sr. ML/Data Scientist - AI/NLP/Chatbot,Data Scientist
126,Data Scientist,Data Scientist
127,Data Scientist,Data Scientist
128,Data Engineer,Data Engineer
129,Sr. ML/Data Scientist - AI/NLP/Chatbot,Data Scientist
130,Data Scientist,Data Scientist
131,Senior Data Engineer,Data Engineer
132,Data Engineer,Data Engineer
133,Data Scientist,Data Scientist
134,Machine Learning Engineer,Machine Learning Engineer
135,Machine Learning Engineer,Machine Learning Engineer
136,Senior Data Engineer,Data Engineer
137,Data Scientist,Data Scientist
138,Data Analyst,Data Analyst
139,Data Engineer,Data Engineer
140,Data Integration and Modeling Engineer,Data Engineer
141,Tableau Data Engineer 20-0117,Data Engineer
142,Senior Data Scientist,Data Scientist
143,AI Data Scientist,Data Scientist
144,Machine Learning Engineer,Machine Learning Engineer
145,Research Scientist Patient Preferences (Remote),NA
146,Data Scientist,Data Scientist
147,Scientist - Biomarker and Flow Cytometry,NA
148,Data Scientist,Data Scientist
149,Analytics Manager,Manager
150,Data Scientist,Data Scientist
151,Staff Scientist- Upstream PD,NA
152,Data Engineer,Data Engineer
153,Sr Scientist - Extractables & Leachables,NA
154,ELISA RESEARCH SCIENTIST (CV-15),NA
155,Sr Data Scientist,Data Scientist
156,Data Scientist,Data Scientist
157,Experienced Data Scientist,Data Scientist
158,Machine Learning Engineer,Machine Learning Engineer
159,Data Scientist,Data Scientist
160,Data Scientist,Data Scientist
161,Say Business Data Analyst,Data Analyst
162,Geospatial Data Scientist,Data Scientist
163,Data Analyst,Data Analyst
164,Computational Scientist,NA
165,Data Scientist,Data Scientist
166,Senior Data Analyst,Data Analyst
167,Senior Data Analyst,Data Analyst
168,Data Engineer,Data Engineer
169,Sr Data Analyst,Data Analyst
170,Data Scientist,Data Scientist
171,"Machine Learning Scientist - Bay Area, CA",Machine Learning Engineer
172,Data Scientist,Data Scientist
173,Senior Data Scientist - Algorithms,Data Scientist
174,Data Analyst,Data Analyst
175,Senior Data & Machine Learning Scientist,Machine Learning Engineer
176,Data Engineer,Data Engineer
177,"Data Scientist - Statistics, Early Career",Data Scientist
178,Data Scientist,Data Scientist
179,Machine Learning Engineer,Machine Learning Engineer
180,Research Scientist - Patient-Centered Research...,NA
181,Jr. Business Data Analyst (position added 6/12...,Data Analyst
182,Sr. Data Scientist II,Data Scientist
183,Data Scientist,Data Scientist
184,Senior Data Analyst,Data Analyst
185,Lead Data Scientist,Data Scientist
186,Production Engineer - Statistics/Data Analysis,NA
187,Statistical Scientist,NA
188,Computational Behavioral Scientist,NA
189,Principal Data Scientist - Machine Learning,Data Scientist
190,Principal Machine Learning Scientist,Machine Learning Engineer
191,Data Engineer,Data Engineer
192,Principal Data Scientist,Data Scientist
193,Data Scientist,Data Scientist
194,Senior Data Scientist - R&D Oncology,Data Scientist
195,Data Scientist,Data Scientist
196,"Health Plan Data Analyst, Sr",Data Analyst
197,"Principal Scientist/Associate Director, Qualit...",Director
198,Analytics - Business Assurance Data Analyst,Data Analyst
199,Data Scientist - Contract,Data Scientist
200,Data Scientist,Data Scientist
201,Data Scientist,Data Scientist
202,Machine Learning Engineer,Machine Learning Engineer
203,Data Engineer,Data Engineer
204,"Senior Data Scientist – Image Analytics, Novar...",Data Scientist
205,Data Engineer,Data Engineer
206,Data Science Instructor,NA
207,Senior Business Intelligence Analyst,Data Analyst
208,In-Line Inspection Data Analyst,Data Analyst
209,Data Scientist - TS/SCI FSP or CI Required,Data Scientist
210,Data Scientist,Data Scientist
211,Senior Data Scientist,Data Scientist
212,Data Scientist - TS/SCI Required,Data Scientist
213,Data Science Software Engineer,Software Engineer
214,ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPU...,NA
215,AI Ops Data Scientist,Data Scientist
216,"Intelligence Data Analyst, Senior",Data Analyst
217,Analytics Manager - Data Mart,Manager
218,Data Modeler (Analytical Systems),Data Modeler
219,"Senior Machine Learning Scientist - Bay Area, CA",Machine Learning Engineer
220,Report Writer-Data Analyst,Data Analyst
221,Data Scientist/Machine Learning,Data Scientist
222,Data Scientist - Risk,Data Scientist
223,Data Engineer,Data Engineer
224,Staff Data Scientist - Pricing,Data Scientist
225,Data Scientist,Data Scientist
226,Data Scientist,Data Scientist
227,Data Scientist,Data Scientist
228,Machine Learning Engineer,Machine Learning Engineer
229,Equity Data Insights Analyst - Quantitative An...,Data Analyst
230,Data Scientist,Data Scientist
231,Research Scientist - Patient-Centered Research...,NA
232,Data Scientist,Data Scientist
233,Operations Data Analyst,Data Analyst
234,Sr. Data Scientist II,Data Scientist
235,Data Scientist,Data Scientist
236,Data Scientist,Data Scientist
237,Data Scientist,Data Scientist
238,Senior Data Analyst,Data Analyst
239,Data Scientist,Data Scientist
240,Data Scientist,Data Scientist
241,Senior Research Statistician- Data Scientist,Data Scientist
242,Software Data Engineer,Data Engineer
243,Data Scientist,Data Scientist
244,Real World Evidence (RWE) Scientist,NA
245,Data Scientist,Data Scientist
246,Data Scientist,Data Scientist
247,Data Scientist,Data Scientist
248,Data Scientist,Data Scientist
249,Computer Scientist 1,NA
250,Lead Data Scientist,Data Scientist
251,Data Scientist,Data Scientist
252,Data Scientist,Data Scientist
253,Data Scientist,Data Scientist
254,Data Scientist,Data Scientist
255,Data Scientist,Data Scientist
256,Environmental Data Science,NA
257,Computational Behavioral Scientist,NA
258,Data Scientist,Data Scientist
259,Staff BI and Data Engineer,Data Engineer
260,Principal Machine Learning Scientist,Machine Learning Engineer
261,Principal Data Scientist - Machine Learning,Data Scientist
262,Data Scientist-Human Resources,Data Scientist
263,Associate Data Scientist,Data Scientist
264,"Data Scientist - Statistics, Mid-Career",Data Scientist
265,Director of Data Science,Director
266,Data Scientist,Data Scientist
267,Data Scientist,Data Scientist
268,Data Scientist,Data Scientist
269,"Data Engineer, Digital & Comp Pathology",Data Engineer
270,Data Engineer,Data Engineer
271,"Manager / Lead, Data Science & Analytics",Manager
272,Data Scientist,Data Scientist
273,Data Scientist,Data Scientist
274,Data Scientist,Data Scientist
275,Data Scientist,Data Scientist
276,Diversity and Inclusion Data Analyst,Data Analyst
277,Data Scientist,Data Scientist
278,Data Scientist,Data Scientist
279,Data Scientist,Data Scientist
280,Data Scientist,Data Scientist
281,Data Scientist,Data Scientist
282,Data Scientist,Data Scientist
283,Senior Analyst/Data Scientist,Data Scientist
284,Data Scientist,Data Scientist
285,Data Scientist,Data Scientist
286,Senior Data Scientist - R&D Oncology,Data Scientist
287,Data Scientist,Data Scientist
288,Data Scientist,Data Scientist
289,Data Scientist,Data Scientist
290,Data Scientist,Data Scientist
291,Data Scientist,Data Scientist
292,Data Scientist Machine Learning,Data Scientist
293,Data Scientist,Data Scientist
294,Data Scientist,Data Scientist
295,Data Scientist,Data Scientist
296,Data Scientist,Data Scientist
297,Data Analyst,Data Analyst
298,Data Scientist,Data Scientist
299,Data Scientist,Data Scientist
300,Data Scientist,Data Scientist
301,Data Scientist,Data Scientist
302,Data Scientist,Data Scientist
303,Data Scientist,Data Scientist
304,Data Scientist,Data Scientist
305,Chief Scientist,NA
306,Data Scientist,Data Scientist
307,Data Scientist,Data Scientist
308,Data Scientist,Data Scientist
309,Data Scientist,Data Scientist
310,Data Scientist,Data Scientist
311,"Health Plan Data Analyst, Sr",Data Analyst
312,"Principal Scientist/Associate Director, Qualit...",Director
313,Data Scientist,Data Scientist
314,Senior Data Scientist,Data Scientist
315,Data Scientist,Data Scientist
316,Data Scientist,Data Scientist
317,Data Scientist,Data Scientist
318,Analytics - Business Assurance Data Analyst,Data Analyst
319,Data Scientist,Data Scientist
320,Data Scientist,Data Scientist
321,"Development Scientist, Voltaren",NA
322,Data Scientist,Data Scientist
323,Data Scientist,Data Scientist
324,Data Scientist,Data Scientist
325,Data Engineer,Data Engineer
326,Data Scientist,Data Scientist
327,Data Scientist,Data Scientist
328,Data Scientist,Data Scientist
329,Data Scientist,Data Scientist
330,Machine Learning Engineer,Machine Learning Engineer
331,Principal Data & Analytics Platform Engineer,NA
332,Machine Learning Engineer/Scientist,Machine Learning Engineer
333,Data Scientist,Data Scientist
334,"Senior Data Scientist – Image Analytics, Novar...",Data Scientist
335,Data Scientist,Data Scientist
336,Data Scientist,Data Scientist
337,Data Scientist,Data Scientist
338,Data Scientist,Data Scientist
339,Machine Learning Engineer,Machine Learning Engineer
340,Data Analyst - Unilever Prestige,Data Analyst
341,Data Scientist,Data Scientist
342,"VP, Data Science",NA
343,Data Scientist,Data Scientist
344,Data Scientist,Data Scientist
345,Senior Business Intelligence Analyst,Data Analyst
346,Data Scientist,Data Scientist
347,Data Engineer - Kafka,Data Engineer
348,Data Scientist,Data Scientist
349,Data Scientist,Data Scientist
350,Data Scientist,Data Scientist
351,Data Scientist,Data Scientist
352,Decision Scientist,NA
353,Data Scientist,Data Scientist
354,Data Science All Star Program - Data Engineer ...,Data Engineer
355,Data Scientist - TS/SCI FSP or CI Required,Data Scientist
356,Data Analyst,Data Analyst
357,Data Scientist,Data Scientist
358,Data Scientist,Data Scientist
359,Data Scientist,Data Scientist
360,Data Scientist,Data Scientist
361,Data Scientist,Data Scientist
362,Data Scientist,Data Scientist
363,Senior Data Scientist,Data Scientist
364,Data Scientist,Data Scientist
365,Data Scientist,Data Scientist
366,Data Scientist,Data Scientist
367,ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPU...,NA
368,Data Scientist,Data Scientist
369,Data Science Software Engineer,Software Engineer
370,AI Ops Data Scientist,Data Scientist
371,Data Scientist,Data Scientist
372,Data Scientist,Data Scientist
373,Data Scientist,Data Scientist
374,Scientist - Machine Learning,Machine Learning Engineer
375,Data Scientist,Data Scientist
376,Data Scientist,Data Scientist
377,Sr. Data Scientist,Data Scientist
378,Data Scientist,Data Scientist
379,Data Scientist,Data Scientist
380,Analytics Manager - Data Mart,Manager
381,Data Modeler (Analytical Systems),Data Modeler
382,Applied AI Scientist / Engineer,NA
383,"Data Engineer (Analytics, SQL, Python, AWS)",Data Engineer
384,Senior Data Analyst - Finance & Platform Analy...,Data Analyst
385,Senior Data Scientist,Data Scientist
386,Market Research Data Scientist,Data Scientist
387,IT Partner Digital Health Technology and Data ...,NA
388,Data Scientist,Data Scientist
389,Data Scientist,Data Scientist
390,"Senior Machine Learning Scientist - Bay Area, CA",Machine Learning Engineer
391,"Software Engineer (Data Scientist, C,C++,Linux...",Data Scientist
392,Senior Clinical Data Scientist Programmer,Data Scientist
393,Data Engineer,Data Engineer
394,Computer Vision / Deep Learning Scientist,NA
395,Data Solutions Engineer - Data Modeler,Data Modeler
396,Data Scientist,Data Scientist
397,Data Scientist (TS/SCI w/ Poly),Data Scientist
398,Weapons and Sensors Engineer/Scientist,NA
399,Applied Computer Scientist,NA
400,Senior Data Analyst,Data Analyst
401,Cloud Data Engineer (Azure),Data Engineer
402,Lead Certified Clinical Laboratory Scientist -...,NA
403,Sr. Data Analyst,Data Analyst
404,Senior Scientist - Toxicologist - Product Inte...,NA
405,Senior Machine Learning Engineer,Machine Learning Engineer
406,Product Data Scientist - Ads Data Science,Data Scientist
407,Data Scientist,Data Scientist
408,Data Scientist,Data Scientist
409,Data Scientist,Data Scientist
410,Data Scientist,Data Scientist
411,Data Scientist,Data Scientist
412,Data Scientist,Data Scientist
413,Data Scientist,Data Scientist
414,Data Scientist,Data Scientist
415,Data Scientist,Data Scientist
416,Data Scientist,Data Scientist
417,Data Scientist,Data Scientist
418,Data Scientist,Data Scientist
419,Data Scientist,Data Scientist
420,Data Scientist,Data Scientist
421,Analytics - Business Assurance Data Analyst,Data Analyst
422,Data Scientist,Data Scientist
423,Data Scientist,Data Scientist
424,Data Scientist,Data Scientist
425,Data Scientist,Data Scientist
426,Data Scientist,Data Scientist
427,Data Scientist,Data Scientist
428,Senior Data Scientist,Data Scientist
429,Data Scientist,Data Scientist
430,Data Scientist,Data Scientist
431,Data Scientist,Data Scientist
432,Data Engineer,Data Engineer
433,Data Scientist,Data Scientist
434,Data Scientist,Data Scientist
435,Data Scientist,Data Scientist
436,Data Scientist - Machine Learning,Data Scientist
437,Data Scientist,Data Scientist
438,Data Scientist,Data Scientist
439,Data Scientist,Data Scientist
440,Data Scientist,Data Scientist
441,Data Scientist,Data Scientist
442,Data Scientist,Data Scientist
443,Data Scientist,Data Scientist
444,Data Scientist,Data Scientist
445,Machine Learning Engineer/Scientist,Machine Learning Engineer
446,Data Scientist - Intermediate,Data Scientist
447,Principal Data Scientist,Data Scientist
448,Data Scientist,Data Scientist
449,"Senior Data Scientist – Image Analytics, Novar...",Data Scientist
450,Data Scientist,Data Scientist
451,Data Scientist,Data Scientist
452,Data Scientist- Industrial Discrete Sector Ind...,Data Scientist
453,Data Scientist,Data Scientist
454,Data Scientist,Data Scientist
455,Data Scientist,Data Scientist
456,Data Scientist,Data Scientist
457,Data Scientist,Data Scientist
458,Machine Learning Engineer,Machine Learning Engineer
459,Data Scientist,Data Scientist
460,Data Scientist,Data Scientist
461,Data Scientist,Data Scientist
462,Data Scientist,Data Scientist
463,Data Analyst - Unilever Prestige,Data Analyst
464,Data Scientist,Data Scientist
465,Data Scientist,Data Scientist
466,Data Scientist,Data Scientist
467,Data & Machine Learning Scientist,Machine Learning Engineer
468,Data Scientist,Data Scientist
469,"VP, Data Science",NA
470,Senior Business Intelligence Analyst,Data Analyst
471,Data Scientist,Data Scientist
472,Data Engineer - Kafka,Data Engineer
473,Data Scientist,Data Scientist
474,Data Scientist,Data Scientist
475,Data Scientist,Data Scientist
476,Data Scientist,Data Scientist
477,Data Scientist,Data Scientist
478,Data Scientist,Data Scientist
479,In-Line Inspection Data Analyst,Data Analyst
480,Data Scientist,Data Scientist
481,Data Scientist,Data Scientist
482,Data Scientist,Data Scientist
483,Data Scientist,Data Scientist
484,Decision Scientist,NA
485,Data Scientist,Data Scientist
486,Data Scientist - TS/SCI FSP or CI Required,Data Scientist
487,"Data Scientist, Applied Machine Learning - Bay...",Data Scientist

In [50]:
# Job Level

def Level_classifier(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
            return 'Senior'
    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return 'Junior'
    else:
        return 'NA'

In [51]:
df['Job_Level'] = df['Job Title'].apply(Level_classifier)
df['Job_Level'].value_counts()

Job_Level
NA        576
Senior     94
Junior      2
Name: count, dtype: int64

In [52]:
del df['Job Title']

In [53]:
df.head()

,Job Description,Rating,Size,Founded,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary,Company_Name,Location_City,Location_State,Headquarter_City,Headquarter_State,Job_Title_Cleaned,Job_Level
0,Description\n\nThe Senior Data Scientist is re...,3.1,1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154.0,Healthfirst,New York,NY,New York,NY,Data Scientist,Senior
1,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154.0,ManTech,Chantilly,VA,Herndon,VA,Data Scientist,NA
2,Overview\n\n\nAnalysis Group is one of the lar...,3.8,1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154.0,Analysis Group,Boston,MA,Boston,MA,Data Scientist,NA
3,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154.0,INFICON,Newton,MA,Bad Ragaz,Switzerland,Data Scientist,NA
4,Data Scientist\nAffinity Solutions / Marketing...,2.9,51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154.0,Affinity Solutions,New York,NY,New York,NY,Data Scientist,NA

In [54]:
np.sum(df['Founded'] < 0)

118

In [55]:
df['Founded']

0      1993
1      1968
2      1981
3      2000
4      1998
5      2010
6      1996
7      1990
8      1983
9      2014
10     2012
11     2016
12     1965
13     1973
14     1986
15     1997
16     2015
17     1945
18     1988
19     2017
20     2015
21     2011
22     1967
23     1860
24     1992
25     2003
26     1996
27     1951
28     2005
29     2015
30     1981
31     1996
32     2019
33     1925
34     2008
35     1999
36     1978
37     2000
38     2000
39     1966
40     1973
41     1912
42     1958
43     2019
44     2013
45     1849
46     2012
47     2000
48     2016
49     1999
50     2014
51     1781
52     2012
53     2003
54     1999
55     1926
56     2012
57     2006
58     2011
59     1994
60     1863
61     2010
62     1990
63     2010
64     1986
65     1995
66     2012
67     2006
68     2015
69       -1
70     2006
71     2015
72     1982
73     1925
74     1974
75     2001
76     1993
77     2019
78     1985
79     2003
80     1913
81     2001
82     1996
83     2016
84     1999
85     2010
86     1971
87     2003
88     2012
89     1911
90     1913
91     1999
92     1968
93     1997
94     1986
95     1983
96     2015
97     1911
98     2009
99     1959
100    2013
101    2007
102    2012
103    1982
104    1983
105    1973
106    1981
107    2011
108    1939
109    2013
110    1967
111    2013
112      -1
113    2016
114    1996
115    2016
116    2002
117    1967
118    2019
119    2000
120    2006
121    2015
122    2012
123    2006
124    2006
125    1996
126    2016
127    2014
128    2006
129    1996
130    2016
131    2011
132    2003
133    2012
134    2015
135    2015
136    2011
137    2012
138    1994
139    2012
140    1997
141    2001
142    2013
143    1958
144    2013
145    2013
146    1982
147    2006
148    2000
149    1967
150    2016
151    1961
152    2002
153    1995
154      -1
155    1963
156    2012
157    1997
158      -1
159    1969
160    2006
161    1946
162      -1
163    1997
164    1996
165    2015
166    1982
167    1968
168    1957
169    2003
170    1946
171    2015
172    2009
173    2014
174    1953
175    2015
176    1998
177    1965
178    1945
179    1967
180    2013
181    1997
182    1948
183    1850
184    2008
185    1851
186    2004
187    1976
188    2010
189    1995
190    1999
191    2011
192    1913
193      -1
194    1913
195      -1
196    1918
197    2013
198    1992
199    2015
200    1992
201    2008
202    1954
203    2008
204    1996
205    2001
206    2012
207    1999
208    1996
209    2011
210    1990
211      -1
212    2011
213    2012
214    1947
215    1913
216    2010
217    1996
218    1851
219    2015
220    1955
221    2011
222    1996
223    1998
224    2014
225    2008
226    1999
227    2018
228    1967
229    1937
230      -1
231    2013
232    1850
233    2017
234    1948
235    1971
236      -1
237    1998
238    2008
239      -1
240    2003
241    1925
242    2000
243    2006
244    2009
245    1973
246    2011
247    2000
248      -1
249    1983
250    1851
251      -1
252    1917
253    1935
254    2007
255    2009
256    1929
257    2010
258      -1
259    1998
260    1999
261    1995
262    1951
263    1999
264    1965
265    1981
266    1820
267    2010
268    1995
269    2018
270    2011
271    1981
272    1963
273    2011
274      -1
275    1952
276    1932
277    1947
278    2012
279    1894
280    2005
281    2018
282      -1
283    1966
284    2019
285      -1
286    1913
287    1917
288      -1
289    1960
290      -1
291    2006
292    1969
293    1993
294      -1
295      -1
296    2017
297    2017
298    1990
299    2007
300    1788
301    2000
302    1992
303    2015
304    2005
305    2013
306    2004
307      -1
308      -1
309    2003
310    2015
311    1918
312    2013
313    1992
314    2011
315    2005
316      -1
317    2000
318    1992
319      -1
320      -1
321    1830
322      -1
323    2016
324    2000
325    2008
326    1997
327    1995
328    1984
329      -1
330    1954
331    1933
332    2000
333    2003
334    1996
335      -1
336    1880
337    1999
338      -1
339    1984
340    1986
341    2011
342    2012
343    2012
344    2013
345    1999
346    1887
347    1970
348      -1
349    2014
350    2002
351      -1
352    1942
353    2010
354    2002
355    2011
356    2012
357      -1
358      -1
359      -1
360      -1
361      -1
362      -1
363      -1
364    1999
365    1781
366      -1
367    1947
368    2008
369    2012
370    1913
371      -1
372    2018
373    1980
374    2003
375    1989
376    2001
377    2011
378    1999
379    1908
380    1996
381    1851
382    2003
383    1853
384    2011
385    2012
386    2009
387    1978
388      -1
389      -1
390    2015
391    1981
392      -1
393    2005
394    2015
395    1912
396    1996
397      -1
398    1974
399    2010
400    2012
401    1933
402    1995
403    1994
404    1875
405    2016
406    2006
407    2011
408    2010
409      -1
410    2018
411    2005
412      -1
413      -1
414      -1
415    2014
416    1999
417    1914
418    1898
419    2010
420    1948
421    1992
422      -1
423    2005
424      -1
425      -1
426    2008
427    2012
428    2012
429      -1
430      -1
431      -1
432    2008
433      -1
434    1956
435      -1
436    2018
437      -1
438      -1
439    2014
440      -1
441      -1
442    2007
443    1977
444    2019
445    2000
446    1994
447    1982
448      -1
449    1996
450    2007
451    2009
452    1911
453    2007
454    2009
455    1880
456    2006
457      -1
458    1984
459      -1
460    1968
461    2009
462      -1
463    1986
464      -1
465    2011
466    1989
467    2015
468    2006
469    2012
470    1999
471    2004
472    1970
473    2012
474    1887
475    2000
476      -1
477    1987
478      -1
479    1996
480    2002
481    1998
482    1995
483    1985
484    1942
485    2010
486    2011
487    2015
488    2019
489    2010
490      -1
491    2012
492    1990
493    1969
494      -1
495      -1
496      -1
497      -1
498      -1
499      -1
500      -1
501    1988
502    1999
503      -1
504      -1
505    1994
506    1998
507    2011
508    1896
509    1913
510    2002
511    1987
512      -1
513      -1
514      -1
515      -1
516    1947
517    2010
518    2012
519      -1
520      -1
521    2010
522    2012
523    1947
524      -1
525    1980
526    2003
527    1976
528    2012
529    2016
530    2001
531      -1
532    2001
533    2009
534    1986
535    1976
536    1966
537    2011
538    2010
539    2012
540    1999
541    1908
542    1947
543    2006
544    1851
545      -1
546    2012
547    1997
548    1853
549    2003
550    1999
551    2009
552    2011
553    2008
554    1978
555      -1
556    2015
557    1972
558    1996
559    2004
560    2005
561    2017
562    1974
563    1982
564    2015
565    1976
566    1996
567      -1
568      -1
569    1958
570    1911
571    2003
572    1971
573      -1
574    1974
575    2010
576    2012
577      -1
578    1933
579      -1
580    2013
581    1933
582    1875
583    1958
584    2016
585      -1
586    1992
587    1996
588    1998
589    1949
590      -1
591    1913
592    1982
593    1998
594    1830
595    1947
596    2008
597    2009
598      -1
599    2005
600    1985
601    2004
602    1942
603    2011
604    2010
605      -1
606    1997
607    1999
608      -1
609    1985
610      -1
611    1997
612    1968
613      -1
614    1853
615      -1
616    1983
617    1999
618    2009
619    2006
620    1951
621      -1
622    2013
623    1998
624    1990
625    2012
626    1996
627    1988
628    2000
629    1994
630    2004
631    1911
632    2013
633      -1
634    1954
635    1998
636    2011
637      -1
638      -1
639    1999
640    1987
641      -1
642    1992
643    1974
644    1962
645    1976
646      -1
647    1947
648    2008
649    2012
650      -1
651    1913
652    2009
653    1996
654    2010
655      -1
656      -1
657      -1
658    2010
659    2018
660      -1
661      -1
662      -1
663    2004
664      -1
665    2005
666    2010
667    1989
668      -1
669      -1
670      -1
671    1976
Name: Founded, dtype: int64

In [56]:
df['Founded'] = np.where(df.Founded < 0, 2024, df.Founded)
df['Founded'].unique()

array([1993, 1968, 1981, 2000, 1998, 2010, 1996, 1990, 1983, 2014, 2012,
       2016, 1965, 1973, 1986, 1997, 2015, 1945, 1988, 2017, 2011, 1967,
       1860, 1992, 2003, 1951, 2005, 2019, 1925, 2008, 1999, 1978, 1966,
       1912, 1958, 2013, 1849, 1781, 1926, 2006, 1994, 1863, 1995, 2024,
       1982, 1974, 2001, 1985, 1913, 1971, 1911, 2009, 1959, 2007, 1939,
       2002, 1961, 1963, 1969, 1946, 1957, 1953, 1948, 1850, 1851, 2004,
       1976, 1918, 1954, 1947, 1955, 2018, 1937, 1917, 1935, 1929, 1820,
       1952, 1932, 1894, 1960, 1788, 1830, 1984, 1933, 1880, 1887, 1970,
       1942, 1980, 1989, 1908, 1853, 1875, 1914, 1898, 1956, 1977, 1987,
       1896, 1972, 1949, 1962])

In [57]:
df['Year_of_Operation'] = 2024 - df['Founded']
df.head()

,Job Description,Rating,Size,Founded,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary,Company_Name,Location_City,Location_State,Headquarter_City,Headquarter_State,Job_Title_Cleaned,Job_Level,Year_of_Operation
0,Description\n\nThe Senior Data Scientist is re...,3.1,1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154.0,Healthfirst,New York,NY,New York,NY,Data Scientist,Senior,31
1,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154.0,ManTech,Chantilly,VA,Herndon,VA,Data Scientist,NA,56
2,Overview\n\n\nAnalysis Group is one of the lar...,3.8,1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154.0,Analysis Group,Boston,MA,Boston,MA,Data Scientist,NA,43
3,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154.0,INFICON,Newton,MA,Bad Ragaz,Switzerland,Data Scientist,NA,24
4,Data Scientist\nAffinity Solutions / Marketing...,2.9,51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154.0,Affinity Solutions,New York,NY,New York,NY,Data Scientist,NA,26

In [58]:
del df['Founded']

In [59]:
df.head()

,Job Description,Rating,Size,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary,Company_Name,Location_City,Location_State,Headquarter_City,Headquarter_State,Job_Title_Cleaned,Job_Level,Year_of_Operation
0,Description\n\nThe Senior Data Scientist is re...,3.1,1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154.0,Healthfirst,New York,NY,New York,NY,Data Scientist,Senior,31
1,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154.0,ManTech,Chantilly,VA,Herndon,VA,Data Scientist,NA,56
2,Overview\n\n\nAnalysis Group is one of the lar...,3.8,1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154.0,Analysis Group,Boston,MA,Boston,MA,Data Scientist,NA,43
3,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154.0,INFICON,Newton,MA,Bad Ragaz,Switzerland,Data Scientist,NA,24
4,Data Scientist\nAffinity Solutions / Marketing...,2.9,51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154.0,Affinity Solutions,New York,NY,New York,NY,Data Scientist,NA,26

In [60]:
# Industry Column

df['Industry'].value_counts()

Industry
-1                                          71
Biotech & Pharmaceuticals                   66
IT Services                                 61
Computer Hardware & Software                57
Aerospace & Defense                         46
Enterprise Software & Network Solutions     43
Consulting                                  38
Staffing & Outsourcing                      36
Insurance Carriers                          28
Internet                                    27
Advertising & Marketing                     23
Health Care Services & Hospitals            21
Research & Development                      17
Federal Agencies                            16
Investment Banking & Asset Management       13
Banks & Credit Unions                        8
Lending                                      8
Energy                                       5
Consumer Products Manufacturing              5
Telecommunications Services                  5
Insurance Agencies & Brokerages              4
Food & Beverage Manufacturing                4
Utilities                                    3
Electrical & Electronic Manufacturing        3
Colleges & Universities                      3
Other Retail Stores                          3
Architectural & Engineering Services         3
Chemical Manufacturing                       3
Real Estate                                  3
Miscellaneous Manufacturing                  3
Accounting                                   3
Wholesale                                    3
Industrial Manufacturing                     3
Video Games                                  3
Travel Agencies                              2
Express Delivery Services                    2
Timber Operations                            2
Financial Transaction Processing             2
Construction                                 2
Health, Beauty, & Fitness                    2
Transportation Equipment Manufacturing       2
Oil & Gas Services                           2
Venture Capital & Private Equity             2
Consumer Electronics & Appliances Stores     2
Department, Clothing, & Shoe Stores          1
Publishing                                   1
Social Assistance                            1
Farm Support Services                        1
Logistics & Supply Chain                     1
Transportation Management                    1
State & Regional Agencies                    1
Hotels, Motels, & Resorts                    1
Food & Beverage Stores                       1
News Outlet                                  1
Telecommunications Manufacturing             1
Cable, Internet & Telephone Providers        1
Shipping                                     1
Rail                                         1
Name: count, dtype: int64

In [61]:
df['Industry'] = df['Industry'].str.replace('-1', 'Other Industries')

In [62]:
df['Industry'].value_counts()

Industry
Other Industries                            71
Biotech & Pharmaceuticals                   66
IT Services                                 61
Computer Hardware & Software                57
Aerospace & Defense                         46
Enterprise Software & Network Solutions     43
Consulting                                  38
Staffing & Outsourcing                      36
Insurance Carriers                          28
Internet                                    27
Advertising & Marketing                     23
Health Care Services & Hospitals            21
Research & Development                      17
Federal Agencies                            16
Investment Banking & Asset Management       13
Banks & Credit Unions                        8
Lending                                      8
Energy                                       5
Consumer Products Manufacturing              5
Telecommunications Services                  5
Insurance Agencies & Brokerages              4
Food & Beverage Manufacturing                4
Utilities                                    3
Electrical & Electronic Manufacturing        3
Colleges & Universities                      3
Other Retail Stores                          3
Architectural & Engineering Services         3
Chemical Manufacturing                       3
Real Estate                                  3
Miscellaneous Manufacturing                  3
Accounting                                   3
Wholesale                                    3
Industrial Manufacturing                     3
Video Games                                  3
Travel Agencies                              2
Express Delivery Services                    2
Timber Operations                            2
Financial Transaction Processing             2
Construction                                 2
Health, Beauty, & Fitness                    2
Transportation Equipment Manufacturing       2
Oil & Gas Services                           2
Venture Capital & Private Equity             2
Consumer Electronics & Appliances Stores     2
Department, Clothing, & Shoe Stores          1
Publishing                                   1
Social Assistance                            1
Farm Support Services                        1
Logistics & Supply Chain                     1
Transportation Management                    1
State & Regional Agencies                    1
Hotels, Motels, & Resorts                    1
Food & Beverage Stores                       1
News Outlet                                  1
Telecommunications Manufacturing             1
Cable, Internet & Telephone Providers        1
Shipping                                     1
Rail                                         1
Name: count, dtype: int64

In [63]:
df.head()

,Job Description,Rating,Size,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary,Company_Name,Location_City,Location_State,Headquarter_City,Headquarter_State,Job_Title_Cleaned,Job_Level,Year_of_Operation
0,Description\n\nThe Senior Data Scientist is re...,3.1,1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154.0,Healthfirst,New York,NY,New York,NY,Data Scientist,Senior,31
1,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154.0,ManTech,Chantilly,VA,Herndon,VA,Data Scientist,NA,56
2,Overview\n\n\nAnalysis Group is one of the lar...,3.8,1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154.0,Analysis Group,Boston,MA,Boston,MA,Data Scientist,NA,43
3,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154.0,INFICON,Newton,MA,Bad Ragaz,Switzerland,Data Scientist,NA,24
4,Data Scientist\nAffinity Solutions / Marketing...,2.9,51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154.0,Affinity Solutions,New York,NY,New York,NY,Data Scientist,NA,26

In [64]:
df['Job Description'].head()

0    Description\n\nThe Senior Data Scientist is re...
1    Secure our Nation, Ignite your Future\n\nJoin ...
2    Overview\n\n\nAnalysis Group is one of the lar...
3    JOB DESCRIPTION:\n\nDo you have a passion for ...
4    Data Scientist\nAffinity Solutions / Marketing...
Name: Job Description, dtype: object

In [65]:
df['Job Description'][0].split('\n')

['Description',
 '',
 'The Senior Data Scientist is responsible for defining, building, and improving statistical models to improve business processes and outcomes in one or more healthcare domains such as Clinical, Enrollment, Claims, and Finance. As part of the broader analytics team, Data Scientist will gather and analyze data to solve and address complex business problems and evaluate scenarios to make predictions on future outcomes and work with the business to communicate and support decision-making. This position requires strong analytical skills and experience in analytic methods including multivariate regressions, hierarchical linear models, regression trees, clustering methods and other complex statistical techniques.',
 '',
 'Duties & Responsibilities:',
 '',
 '• Develops advanced statistical models to predict, quantify or forecast various operational and performance metrics in multiple healthcare domains',
 '• Investigates, recommends, and initiates acquisition of new data resources from internal and external sources',
 '• Works with multiple teams to support data collection, integration, and retention requirements based on business needs',
 '• Identifies critical and emerging technologies that will support and extend quantitative analytic capabilities',
 '• Collaborates with business subject matter experts to select relevant sources of information',
 '• Develops expertise with multiple machine learning algorithms and data science techniques, such as exploratory data analysis and predictive modeling, graph theory, recommender systems, text analytics and validation',
 '• Develops expertise with Healthfirst datasets, data repositories, and data movement processes',
 '• Assists on projects/requests and may lead specific tasks within the project scope',
 '• Prepares and manipulates data for use in development of statistical models',
 '• Other duties as assigned',
 '',
 'Minimum Qualifications:',
 '',
 "-Bachelor's Degree",
 '',
 'Preferred Qualifications:',
 '',
 '- Master’s degree in Computer Science or Statistics',
 'Familiarity with major cloud platforms such as AWS and Azure',
 'Healthcare Industry Experience',
 '',
 'Minimum Qualifications:',
 '',
 "-Bachelor's Degree",
 '',
 'Preferred Qualifications:',
 '',
 '- Master’s degree in Computer Science or Statistics',
 'Familiarity with major cloud platforms such as AWS and Azure',
 'Healthcare Industry Experience',
 '',
 'WE ARE AN EQUAL OPPORTUNITY EMPLOYER. Applicants and employees are considered for positions and are evaluated without regard to mental or physical disability, race, color, religion, gender, national origin, age, genetic information, military or veteran status, sexual orientation, marital status or any other protected Federal, State/Province or Local status unrelated to the performance of the work involved.',
 '',
 'If you have a disability under the Americans with Disability Act or a similar law, and want a reasonable accommodation to assist with your job search or application for employment, please contact us by sending an email to careers@Healthfirst.org or calling 212-519-1798 . In your email please include a description of the accommodation you are requesting and a description of the position for which you are applying. Only reasonable accommodation requests related to applying for a position within Healthfirst Management Services will be reviewed at the e-mail address and phone number supplied. Thank you for considering a career with Healthfirst Management Services.',
 'EEO Law Poster and Supplement',
 '',
 ']]>']

In [66]:
def python(skill):
    if 'python' in skill.lower():
        return 1
    else:
        return 0

In [67]:
df['Python'] = df['Job Description'].apply(python)
df['Python'].value_counts()

Python
1    491
0    181
Name: count, dtype: int64

In [68]:
def excel(skill):
    if 'excel' in skill.lower():
        return 1
    else:
        return 0

In [69]:
df['Excel'] = df['Job Description'].apply(excel)
df['Excel'].value_counts()

Excel
0    376
1    296
Name: count, dtype: int64

In [70]:
def sql(skill):
    if 'sql' in skill.lower():
        return 1
    else:
        return 0

In [71]:
df['SQL'] = df['Job Description'].apply(sql)
df['SQL'].value_counts()

SQL
1    356
0    316
Name: count, dtype: int64

In [72]:
def tableau(skill):
    if 'tableau' in skill.lower():
        return 1
    else:
        return 0

In [73]:
df['Tableau'] = df['Job Description'].apply(tableau)
df['Tableau'].value_counts()

Tableau
0    549
1    123
Name: count, dtype: int64

In [74]:
def aws(skill):
    if 'aws' in skill.lower():
        return 1
    else:
        return 0

In [75]:
df['AWS'] = df['Job Description'].apply(aws)
df['AWS'].value_counts()

AWS
0    498
1    174
Name: count, dtype: int64

In [76]:
def spark(skill):
    if 'spark' in skill.lower():
        return 1
    else:
        return 0

In [77]:
df['Spark'] = df['Job Description'].apply(spark)
df['Spark'].value_counts()

Spark
0    483
1    189
Name: count, dtype: int64

In [78]:
def hadoop(skill):
    if 'hadoop' in skill.lower():
        return 1
    else:
        return 0

In [79]:
df['Hadoop'] = df['Job Description'].apply(hadoop)
df['Hadoop'].value_counts()

Hadoop
0    529
1    143
Name: count, dtype: int64

In [80]:
def azure(skill):
    if 'azure' in skill.lower():
        return 1
    else:
        return 0

In [81]:
df['Azure'] = df['Job Description'].apply(azure)
df['Azure'].value_counts()

Azure
0    622
1     50
Name: count, dtype: int64

In [82]:
def power_bi(skill):
    if 'power bi' in skill.lower():
        return 1
    else:
        return 0

In [83]:
df['Power BI'] = df['Job Description'].apply(power_bi)
df['Power BI'].value_counts()

Power BI
0    638
1     34
Name: count, dtype: int64

In [84]:
df.head()

,Job Description,Rating,Size,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary,...,Year_of_Operation,Python,Excel,SQL,Tableau,AWS,Spark,Hadoop,Azure,Power BI
0,Description\n\nThe Senior Data Scientist is re...,3.1,1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154.0,...,31,0,0,0,0,1,0,0,1,0
1,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154.0,...,56,0,0,1,0,0,0,1,0,0
2,Overview\n\n\nAnalysis Group is one of the lar...,3.8,1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154.0,...,43,1,1,0,0,1,0,0,0,0
3,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154.0,...,24,1,1,1,0,1,0,0,0,0
4,Data Scientist\nAffinity Solutions / Marketing...,2.9,51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154.0,...,26,1,1,1,0,0,0,0,0,0

In [85]:
df['Size'].value_counts()

Size
51 to 200 employees        135
1001 to 5000 employees     104
1 to 50 employees           86
201 to 500 employees        85
10000+ employees            80
501 to 1000 employees       77
5001 to 10000 employees     61
-1                          27
Unknown                     17
Name: count, dtype: int64

**Grouping the size column into different segments**

Micro-enterprise: 1 - 10

Small business: 1 - 100

Medium-sized enterprise: 100 - 1000

Large enterprise: > 1000

In [86]:
df['Segment_Company_Size'] = df['Size'].replace({'1 to 50 employees':'Small business', '51 to 200 employees':'Medium-sized enterprise', '1001 to 5000 employees':'Large enterprise', '201 to 500 employees':'Medium-sized enterprise',
                                                               '10000+ employees':'Large enterprise','501 to 1000 employees':'Medium-sized enterprise', '5001 to 10000 employees':'Large enterprise','Unknown':'NA','-1':'NA'})
df['Segment_Company_Size'].value_counts()

Segment_Company_Size
Medium-sized enterprise    297
Large enterprise           245
Small business              86
NA                          44
Name: count, dtype: int64

In [87]:
df.drop(['Size'], axis=1, inplace=True)
df.head()

,Job Description,Rating,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary,Company_Name,...,Python,Excel,SQL,Tableau,AWS,Spark,Hadoop,Azure,Power BI,Segment_Company_Size
0,Description\n\nThe Senior Data Scientist is re...,3.1,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154.0,Healthfirst,...,0,0,0,0,1,0,0,1,0,Large enterprise
1,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154.0,ManTech,...,0,0,1,0,0,0,1,0,0,Large enterprise
2,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154.0,Analysis Group,...,1,1,0,0,1,0,0,0,0,Large enterprise
3,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154.0,INFICON,...,1,1,1,0,1,0,0,0,0,Medium-sized enterprise
4,Data Scientist\nAffinity Solutions / Marketing...,2.9,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154.0,Affinity Solutions,...,1,1,1,0,0,0,0,0,0,Medium-sized enterprise

In [88]:
df['Type of ownership'].unique()

array(['Nonprofit Organization', 'Company - Public',
       'Private Practice / Firm', 'Company - Private', 'Government',
       'Subsidiary or Business Segment', 'Other Organization', '-1',
       'Unknown', 'Hospital', 'Self-employed', 'College / University',
       'Contract'], dtype=object)

In [89]:
df['Type of ownership'] = df['Type of ownership'].str.replace('-1','Other Organization')

In [90]:
df['Type of ownership'].value_counts()

Type of ownership
Company - Private                 397
Company - Public                  153
Nonprofit Organization             36
Other Organization                 32
Subsidiary or Business Segment     28
Government                         10
Private Practice / Firm             4
Unknown                             4
College / University                3
Self-employed                       2
Contract                            2
Hospital                            1
Name: count, dtype: int64

In [91]:
df.head()

,Job Description,Rating,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary,Company_Name,...,Python,Excel,SQL,Tableau,AWS,Spark,Hadoop,Azure,Power BI,Segment_Company_Size
0,Description\n\nThe Senior Data Scientist is re...,3.1,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154.0,Healthfirst,...,0,0,0,0,1,0,0,1,0,Large enterprise
1,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154.0,ManTech,...,0,0,1,0,0,0,1,0,0,Large enterprise
2,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154.0,Analysis Group,...,1,1,0,0,1,0,0,0,0,Large enterprise
3,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154.0,INFICON,...,1,1,1,0,1,0,0,0,0,Medium-sized enterprise
4,Data Scientist\nAffinity Solutions / Marketing...,2.9,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154.0,Affinity Solutions,...,1,1,1,0,0,0,0,0,0,Medium-sized enterprise

In [92]:
df.columns

Index(['Job Description', 'Rating', 'Type of ownership', 'Industry', 'Sector',
       'Revenue', 'Minimum_Salary', 'Maximum_Salary', 'Average_Salary',
       'Company_Name', 'Location_City', 'Location_State', 'Headquarter_City',
       'Headquarter_State', 'Job_Title_Cleaned', 'Job_Level',
       'Year_of_Operation', 'Python', 'Excel', 'SQL', 'Tableau', 'AWS',
       'Spark', 'Hadoop', 'Azure', 'Power BI', 'Segment_Company_Size'],
      dtype='object')

In [93]:
df2 = df[[#'Job Description', 
    'Rating', 'Type of ownership', 'Industry', 'Sector',
       'Revenue', 'Minimum_Salary', 'Maximum_Salary', 'Average_Salary',
       'Company_Name', 'Location_City', 'Location_State', 'Headquarter_City',
       'Headquarter_State', 'Job_Title_Cleaned', 'Job_Level',
       'Year_of_Operation', 'Python', 'Excel', 'SQL', 'Tableau', 'AWS',
       'Spark', 'Hadoop', 'Azure', 'Power BI', 'Segment_Company_Size']]

In [94]:
df2.head()

,Rating,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary,Company_Name,Location_City,...,Python,Excel,SQL,Tableau,AWS,Spark,Hadoop,Azure,Power BI,Segment_Company_Size
0,3.1,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154.0,Healthfirst,New York,...,0,0,0,0,1,0,0,1,0,Large enterprise
1,4.2,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154.0,ManTech,Chantilly,...,0,0,1,0,0,0,1,0,0,Large enterprise
2,3.8,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154.0,Analysis Group,Boston,...,1,1,0,0,1,0,0,0,0,Large enterprise
3,3.5,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154.0,INFICON,Newton,...,1,1,1,0,1,0,0,0,0,Medium-sized enterprise
4,2.9,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154.0,Affinity Solutions,New York,...,1,1,1,0,0,0,0,0,0,Medium-sized enterprise

In [95]:
df2[['Industry', 'Sector']].head(50)

                                    Industry                        Sector
0                         Insurance Carriers                     Insurance
1                     Research & Development             Business Services
2                                 Consulting             Business Services
3      Electrical & Electronic Manufacturing                 Manufacturing
4                    Advertising & Marketing             Business Services
5               Computer Hardware & Software        Information Technology
6                  Biotech & Pharmaceuticals     Biotech & Pharmaceuticals
7   Consumer Electronics & Appliances Stores                        Retail
8               Computer Hardware & Software        Information Technology
9    Enterprise Software & Network Solutions        Information Technology
10   Enterprise Software & Network Solutions        Information Technology
11                               IT Services        Information Technology
12                                    Energy  Oil, Gas, Energy & Utilities
13                    Chemical Manufacturing                 Manufacturing
14                                Consulting             Business Services
15                          Federal Agencies                    Government
16                                  Internet        Information Technology
17                    Chemical Manufacturing                 Manufacturing
18   Enterprise Software & Network Solutions        Information Technology
19          Health Care Services & Hospitals                   Health Care
20              Computer Hardware & Software        Information Technology
21                                  Internet        Information Technology
22                                Consulting             Business Services
23                        Insurance Carriers                     Insurance
24                   Advertising & Marketing             Business Services
25              Computer Hardware & Software        Information Technology
26     Investment Banking & Asset Management                       Finance
27                       Aerospace & Defense           Aerospace & Defense
28                          Federal Agencies                    Government
29   Enterprise Software & Network Solutions        Information Technology
30                                Consulting             Business Services
31                 Biotech & Pharmaceuticals     Biotech & Pharmaceuticals
32                               IT Services        Information Technology
33                        Insurance Carriers                     Insurance
34   Enterprise Software & Network Solutions        Information Technology
35                                 Utilities  Oil, Gas, Energy & Utilities
36   Enterprise Software & Network Solutions        Information Technology
37          Health Care Services & Hospitals                   Health Care
38   Enterprise Software & Network Solutions        Information Technology
39                                  Internet        Information Technology
40     Investment Banking & Asset Management                       Finance
41                        Insurance Carriers                     Insurance
42                          Other Industries                            -1
43                 Biotech & Pharmaceuticals     Biotech & Pharmaceuticals
44   Enterprise Software & Network Solutions        Information Technology
45                 Biotech & Pharmaceuticals     Biotech & Pharmaceuticals
46              Computer Hardware & Software        Information Technology
47     Investment Banking & Asset Management                       Finance
48                          Federal Agencies                    Government
49   Enterprise Software & Network Solutions        Information Technology

In [96]:
df2['Sector'].unique()

array(['Insurance', 'Business Services', 'Manufacturing',
       'Information Technology', 'Biotech & Pharmaceuticals', 'Retail',
       'Oil, Gas, Energy & Utilities', 'Government', 'Health Care',
       'Finance', 'Aerospace & Defense', '-1',
       'Transportation & Logistics', 'Media', 'Telecommunications',
       'Real Estate', 'Travel & Tourism', 'Agriculture & Forestry',
       'Education', 'Accounting & Legal', 'Non-Profit',
       'Construction, Repair & Maintenance', 'Consumer Services'],
      dtype=object)

In [97]:
df2['Sector'] = df2['Sector'].str.replace('-1','Other Sectors')

/tmp/ipykernel_18/3441202032.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Sector'] = df2['Sector'].str.replace('-1','Other Sectors')

In [98]:
df2['Sector'].nunique()

23

In [99]:
df2['Industry'].unique()

array(['Insurance Carriers', 'Research & Development', 'Consulting',
       'Electrical & Electronic Manufacturing', 'Advertising & Marketing',
       'Computer Hardware & Software', 'Biotech & Pharmaceuticals',
       'Consumer Electronics & Appliances Stores',
       'Enterprise Software & Network Solutions', 'IT Services', 'Energy',
       'Chemical Manufacturing', 'Federal Agencies', 'Internet',
       'Health Care Services & Hospitals',
       'Investment Banking & Asset Management', 'Aerospace & Defense',
       'Utilities', 'Other Industries', 'Express Delivery Services',
       'Staffing & Outsourcing', 'Insurance Agencies & Brokerages',
       'Consumer Products Manufacturing', 'Industrial Manufacturing',
       'Food & Beverage Manufacturing', 'Banks & Credit Unions',
       'Video Games', 'Shipping', 'Telecommunications Services',
       'Lending', 'Cable, Internet & Telephone Providers', 'Real Estate',
       'Venture Capital & Private Equity', 'Miscellaneous Manufacturing',
       'Oil & Gas Services', 'Transportation Equipment Manufacturing',
       'Telecommunications Manufacturing', 'Transportation Management',
       'News Outlet', 'Architectural & Engineering Services',
       'Food & Beverage Stores', 'Other Retail Stores',
       'Hotels, Motels, & Resorts', 'State & Regional Agencies',
       'Financial Transaction Processing', 'Timber Operations',
       'Colleges & Universities', 'Travel Agencies', 'Accounting',
       'Logistics & Supply Chain', 'Farm Support Services',
       'Social Assistance', 'Construction',
       'Department, Clothing, & Shoe Stores', 'Publishing',
       'Health, Beauty, & Fitness', 'Wholesale', 'Rail'], dtype=object)

Technology: Computer Hardware & Software, IT Services, Internet, Enterprise Software & Network Solutions, Computer & Electronic Manufacturing, Telecommunications Services, Telecommunications Manufacturing, Video Games, Miscellaneous Manufacturing

Finance & Insurance: Insurance Carriers, Investment Banking & Asset Management, Insurance Agencies & Brokerages, Lending, Financial Transaction Processing

Manufacturing & Industrial: Electrical & Electronic Manufacturing, Aerospace & Defense, Industrial Manufacturing, Consumer Products Manufacturing, Food & Beverage Manufacturing, Chemical Manufacturing, Transportation Equipment Manufacturing, Miscellaneous Manufacturing

Healthcare & Pharmaceuticals: Biotech & Pharmaceuticals, Health Care Services & Hospitals, Health, Beauty, & Fitness

Retail & Consumer Goods: Consumer Electronics & Appliances Stores, Food & Beverage Stores, Department, Clothing, & Shoe Stores, Other Retail Stores, Wholesale

Energy & Utilities: Energy, Oil & Gas Services, Utilities, Cable, Internet & Telephone Providers, Timber Operations

Professional Services: Research & Development, Consulting, Architectural & Engineering Services, Accounting, Logistics & Supply Chain, Staffing & Outsourcing

Real Estate & Construction: Real Estate, Construction, Travel Agencies

Government & Education: Federal Agencies, State & Regional Agencies, Colleges & Universities, Social Assistance

Hospitality & Travel: Hotels, Motels, & Resorts, Travel Agencies, News Outlet (Travel Publications)

Transportation & Logistics: Express Delivery Services, Shipping, Transportation Management, Rail

In [100]:
df2['Industry'] = df2['Industry'].replace({'Insurance Carriers':'Finance & Insurance','Research & Development':'Professional Services','Consulting':'Professional Services',
                        'Electrical & Electronic Manufacturing':'Manufacturing & Industrial','Advertising & Marketing':'Media & Entertainment',
                        'Computer Hardware & Software':'Technology','Biotech & Pharmaceuticals':'Healthcare & Pharmaceuticals',
                        'Consumer Electronics & Appliances Stores':'Retail & Consumer Goods','Enterprise Software & Network Solutions':'Technology',
                        'IT Services':'Technology','Energy':'Energy & Utilities','Chemical Manufacturing':'Manufacturing & Industrial',
                        'Federal Agencies':'Government','Internet':'Technology','Health Care Services & Hospitals':'Healthcare & Pharmaceuticals',
                        'Investment Banking & Asset Management':'Finance & Insurance','Aerospace & Defense':'Manufacturing & Industrial',
                        'Utilities':'Energy & Utilities','Express Delivery Services':'Transportation & Logistics','Staffing & Outsourcing':'Professional Services',
                        'Insurance Agencies & Brokerages':'Finance & Insurance' ,'Consumer Products Manufacturing':'Manufacturing & Industrial','Industrial Manufacturing':'Manufacturing & Industrial',
                        'Food & Beverage Manufacturing':'Retail & Consumer Goods', 'Banks & Credit Unions':'Finance & Insurance',
                        'Video Games': 'Entertainment & Media', 'Shipping': 'Transportation & Logistics', 'Telecommunications Services':'Technology',
                        'Lending': 'Finance & Insurance', 'Cable, Internet & Telephone Providers': 'Technology', 'Real Estate': 'Real Estate & Construction',
                        'Venture Capital & Private Equity': 'Finance & Insurance', 'Miscellaneous Manufacturing':'Manufacturing & Industrial',
                        'Oil & Gas Services': 'Energy & Utilities', 'Transportation Equipment Manufacturing': 'Manufacturing & Industrial',
                        'Telecommunications Manufacturing': 'Technology', 'Transportation Management': 'Transportation & Logistics',
                        'News Outlet': 'Media & Publishing', 'Architectural & Engineering Services': 'Construction & Engineering',
                        'Food & Beverage Stores':'Retail & Consumer Goods', 'Other Retail Stores':'Retail & Consumer Goods',
                        'Hotels, Motels, & Resorts':'Hospitality & Travel', 'State & Regional Agencies':'Government',
                        'Financial Transaction Processing':'Finance & Insurance', 'Timber Operations':'Natural Resources & Forestry',
                        'Colleges & Universities':'Education', 'Travel Agencies':'Hospitality & Travel', 'Accounting':'Professional Services',
                        'Logistics & Supply Chain':'Transportation & Logistics', 'Farm Support Services':'Agriculture & Farming',
                        'Social Assistance':'Healthcare & Pharmaceuticals', 'Construction':'Real Estate & Construction',
                        'Department, Clothing, & Shoe Stores':'Retail & Consumer Goods', 'Publishing':'Media & Publishing',
                        'Health, Beauty, & Fitness':'Healthcare & Pharmaceuticals', 'Wholesale':'Distribution & Wholesale', 'Rail':'Transportation & Logistics'})

/tmp/ipykernel_18/4187351905.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Industry'] = df2['Industry'].replace({'Insurance Carriers':'Finance & Insurance','Research & Development':'Professional Services','Consulting':'Professional Services',

In [101]:
df2['Industry'].nunique()

20

In [102]:
df2.head()

,Rating,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary,Company_Name,Location_City,...,Python,Excel,SQL,Tableau,AWS,Spark,Hadoop,Azure,Power BI,Segment_Company_Size
0,3.1,Nonprofit Organization,Finance & Insurance,Insurance,Unknown / Non-Applicable,137,171,154.0,Healthfirst,New York,...,0,0,0,0,1,0,0,1,0,Large enterprise
1,4.2,Company - Public,Professional Services,Business Services,$1 to $2 billion (USD),137,171,154.0,ManTech,Chantilly,...,0,0,1,0,0,0,1,0,0,Large enterprise
2,3.8,Private Practice / Firm,Professional Services,Business Services,$100 to $500 million (USD),137,171,154.0,Analysis Group,Boston,...,1,1,0,0,1,0,0,0,0,Large enterprise
3,3.5,Company - Public,Manufacturing & Industrial,Manufacturing,$100 to $500 million (USD),137,171,154.0,INFICON,Newton,...,1,1,1,0,1,0,0,0,0,Medium-sized enterprise
4,2.9,Company - Private,Media & Entertainment,Business Services,Unknown / Non-Applicable,137,171,154.0,Affinity Solutions,New York,...,1,1,1,0,0,0,0,0,0,Medium-sized enterprise

In [103]:
df2['Revenue'].value_counts()

Revenue
Unknown / Non-Applicable            213
$100 to $500 million (USD)           94
$10+ billion (USD)                   63
$2 to $5 billion (USD)               45
$10 to $25 million (USD)             41
$1 to $2 billion (USD)               36
$25 to $50 million (USD)             36
$50 to $100 million (USD)            31
$1 to $5 million (USD)               31
-1                                   27
$500 million to $1 billion (USD)     19
$5 to $10 million (USD)              14
Less than $1 million (USD)           14
$5 to $10 billion (USD)               8
Name: count, dtype: int64

In [104]:
df2['Revenue'] = df2['Revenue'].str.replace('-1','NA')
df2['Revenue'] = df2['Revenue'].str.replace('(USD)','')
df2['Revenue'] = df2['Revenue'].str.replace('Unknown / Non-Applicable','NA')

/tmp/ipykernel_18/2334151788.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Revenue'] = df2['Revenue'].str.replace('-1','NA')
/tmp/ipykernel_18/2334151788.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Revenue'] = df2['Revenue'].str.replace('(USD)','')
/tmp/ipykernel_18/2334151788.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Revenue'] = df2['Revenue'].str.replace('Unknown / Non-Applicable','NA')

In [105]:
df2.head()

,Rating,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary,Company_Name,Location_City,...,Python,Excel,SQL,Tableau,AWS,Spark,Hadoop,Azure,Power BI,Segment_Company_Size
0,3.1,Nonprofit Organization,Finance & Insurance,Insurance,NA,137,171,154.0,Healthfirst,New York,...,0,0,0,0,1,0,0,1,0,Large enterprise
1,4.2,Company - Public,Professional Services,Business Services,$1 to $2 billion,137,171,154.0,ManTech,Chantilly,...,0,0,1,0,0,0,1,0,0,Large enterprise
2,3.8,Private Practice / Firm,Professional Services,Business Services,$100 to $500 million,137,171,154.0,Analysis Group,Boston,...,1,1,0,0,1,0,0,0,0,Large enterprise
3,3.5,Company - Public,Manufacturing & Industrial,Manufacturing,$100 to $500 million,137,171,154.0,INFICON,Newton,...,1,1,1,0,1,0,0,0,0,Medium-sized enterprise
4,2.9,Company - Private,Media & Entertainment,Business Services,NA,137,171,154.0,Affinity Solutions,New York,...,1,1,1,0,0,0,0,0,0,Medium-sized enterprise

In [106]:
df2['Revenue'].unique()

array(['NA', '$1 to $2 billion ', '$100 to $500 million ',
       '$10+ billion ', '$2 to $5 billion ',
       '$500 million to $1 billion ', '$5 to $10 billion ',
       '$10 to $25 million ', '$25 to $50 million ',
       '$50 to $100 million ', '$1 to $5 million ', '$5 to $10 million ',
       'Less than $1 million '], dtype=object)

In [107]:

df2['Revenue'].unique()

array(['NA', '$1 to $2 billion ', '$100 to $500 million ',
       '$10+ billion ', '$2 to $5 billion ',
       '$500 million to $1 billion ', '$5 to $10 billion ',
       '$10 to $25 million ', '$25 to $50 million ',
       '$50 to $100 million ', '$1 to $5 million ', '$5 to $10 million ',
       'Less than $1 million '], dtype=object)

In [108]:
df2['Revenue'].head(20)

0                              NA
1               $1 to $2 billion
2           $100 to $500 million
3           $100 to $500 million
4                              NA
5                              NA
6                   $10+ billion
7               $1 to $2 billion
8               $2 to $5 billion
9                              NA
10          $100 to $500 million
11                             NA
12    $500 million to $1 billion
13              $1 to $2 billion
14          $100 to $500 million
15                             NA
16                             NA
17    $500 million to $1 billion
18             $5 to $10 billion
19                             NA
Name: Revenue, dtype: object

In [109]:
df2['Revenue'] = df2['Revenue'].str.replace('$','')
df2['Revenue'] = df2['Revenue'].str.replace('to','-')

/tmp/ipykernel_18/2432599358.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Revenue'] = df2['Revenue'].str.replace('$','')
/tmp/ipykernel_18/2432599358.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Revenue'] = df2['Revenue'].str.replace('to','-')

In [110]:
df2['Revenue'].unique()

array(['NA', '1 - 2 billion ', '100 - 500 million ', '10+ billion ',
       '2 - 5 billion ', '500 million - 1 billion ', '5 - 10 billion ',
       '10 - 25 million ', '25 - 50 million ', '50 - 100 million ',
       '1 - 5 million ', '5 - 10 million ', 'Less than 1 million '],
      dtype=object)

In [111]:
pd.set_option('display.max.columns', 26)
df2.head()

,Rating,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary,Company_Name,Location_City,Location_State,Headquarter_City,Headquarter_State,Job_Title_Cleaned,Job_Level,Year_of_Operation,Python,Excel,SQL,Tableau,AWS,Spark,Hadoop,Azure,Power BI,Segment_Company_Size
0,3.1,Nonprofit Organization,Finance & Insurance,Insurance,NA,137,171,154.0,Healthfirst,New York,NY,New York,NY,Data Scientist,Senior,31,0,0,0,0,1,0,0,1,0,Large enterprise
1,4.2,Company - Public,Professional Services,Business Services,1 - 2 billion,137,171,154.0,ManTech,Chantilly,VA,Herndon,VA,Data Scientist,NA,56,0,0,1,0,0,0,1,0,0,Large enterprise
2,3.8,Private Practice / Firm,Professional Services,Business Services,100 - 500 million,137,171,154.0,Analysis Group,Boston,MA,Boston,MA,Data Scientist,NA,43,1,1,0,0,1,0,0,0,0,Large enterprise
3,3.5,Company - Public,Manufacturing & Industrial,Manufacturing,100 - 500 million,137,171,154.0,INFICON,Newton,MA,Bad Ragaz,Switzerland,Data Scientist,NA,24,1,1,1,0,1,0,0,0,0,Medium-sized enterprise
4,2.9,Company - Private,Media & Entertainment,Business Services,NA,137,171,154.0,Affinity Solutions,New York,NY,New York,NY,Data Scientist,NA,26,1,1,1,0,0,0,0,0,0,Medium-sized enterprise

In [112]:
df2.shape

(672, 26)

To standardize the grouping of companies based on revenue into small, medium, and large categories, we need to define revenue thresholds for each category. Given the revenue ranges provided, we can establish the following thresholds:

Small: Less than $50 million

Medium: $50 million to $1 billion

Large: More than $1 billion

In [113]:
df2['Revenue'].unique()

array(['NA', '1 - 2 billion ', '100 - 500 million ', '10+ billion ',
       '2 - 5 billion ', '500 million - 1 billion ', '5 - 10 billion ',
       '10 - 25 million ', '25 - 50 million ', '50 - 100 million ',
       '1 - 5 million ', '5 - 10 million ', 'Less than 1 million '],
      dtype=object)

In [114]:
df2.columns

Index(['Rating', 'Type of ownership', 'Industry', 'Sector', 'Revenue',
       'Minimum_Salary', 'Maximum_Salary', 'Average_Salary', 'Company_Name',
       'Location_City', 'Location_State', 'Headquarter_City',
       'Headquarter_State', 'Job_Title_Cleaned', 'Job_Level',
       'Year_of_Operation', 'Python', 'Excel', 'SQL', 'Tableau', 'AWS',
       'Spark', 'Hadoop', 'Azure', 'Power BI', 'Segment_Company_Size'],
      dtype='object')

In [115]:
df2['Location_State'].unique()

array([' NY', ' VA', ' MA', ' CA', ' IL', ' MO', ' WA', ' DC', ' Remote',
       ' TN', ' TX', ' PA', ' AZ', ' WI', ' GA', ' FL', None, ' NE',
       ' KS', ' NH', ' NJ', ' LA', ' OH', ' IN', ' MD', ' CO', ' UT',
       ' OR', ' MI', ' SC', ' MS', ' AL', ' RI', ' IA', ' MN', ' OK',
       ' CT', ' NC', ' DE', ' WV'], dtype=object)

In [116]:
df2['Location_State'] = df2['Location_State'].replace({
    ' AL': 'Alabama', ' AK': 'Alaska', ' AZ': 'Arizona', ' AR': 'Arkansas', ' CA': 'California',
    ' CO': 'Colorado', ' CT': 'Connecticut', ' DE': 'Delaware', ' FL': 'Florida', ' GA': 'Georgia',
    ' HI': 'Hawaii', ' ID': 'Idaho', ' IL': 'Illinois', ' IN': 'Indiana', ' IA': 'Iowa',
    ' KS': 'Kansas', ' KY': 'Kentucky', ' LA': 'Louisiana', ' ME': 'Maine', ' MD': 'Maryland',
    ' MA': 'Massachusetts', ' MI': 'Michigan', ' MN': 'Minnesota', ' MS': 'Mississippi', ' MO': 'Missouri',
    ' MT': 'Montana', ' NE': 'Nebraska', ' NV': 'Nevada', ' NH': 'New Hampshire', ' NJ': 'New Jersey',
    ' NM': 'New Mexico', ' NY': 'New York', ' NC': 'North Carolina', ' ND': 'North Dakota', ' OH': 'Ohio',
    ' OK': 'Oklahoma', ' OR': 'Oregon', ' PA': 'Pennsylvania', ' RI': 'Rhode Island', ' SC': 'South Carolina',
    ' SD': 'South Dakota', ' TN': 'Tennessee', ' TX': 'Texas', ' UT': 'Utah', ' VT': 'Vermont',
    ' VA': 'Virginia', ' WA': 'Washington', ' WV': 'West Virginia', ' WI': 'Wisconsin', ' WY': 'Wyoming',
    None: 'United States', 'Remote': 'Remote', ' DC' : 'District of Columbia'
})

/tmp/ipykernel_18/929686583.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Location_State'] = df2['Location_State'].replace({

In [117]:
df2['Headquarter_State'].unique()

array([' NY', ' VA', ' MA', ' Switzerland', ' CA', ' IL', ' MO', ' WA',
       ' NJ', ' DC', ' TN', ' AZ', ' PA', ' GA', ' FL', ' WI', ' NE',
       ' Singapore', ' Japan', ' LA', ' OH', ' IN', ' MD', ' CT',
       ' United Kingdom', ' MN', ' TX', ' UT', ' CO', ' OR', ' MI', ' SC',
       None, ' France', ' Canada', ' Bermuda', ' IA', ' India', ' Israel',
       ' NC', ' AL', ' Sweden', ' 061', ' WV', ' HI', ' Spain', ' NM'],
      dtype=object)

In [118]:
df2['Headquarter_State'] = df2['Headquarter_State'].replace({
    ' AL': 'Alabama', ' AK': 'Alaska', ' AZ': 'Arizona', ' AR': 'Arkansas', ' CA': 'California',
    ' CO': 'Colorado', ' CT': 'Connecticut', ' DE': 'Delaware', ' FL': 'Florida', ' GA': 'Georgia',
    ' HI': 'Hawaii', ' ID': 'Idaho', ' IL': 'Illinois', ' IN': 'Indiana', ' IA': 'Iowa',
    ' KS': 'Kansas', ' KY': 'Kentucky', ' LA': 'Louisiana', ' ME': 'Maine', ' MD': 'Maryland',
    ' MA': 'Massachusetts', ' MI': 'Michigan', ' MN': 'Minnesota', ' MS': 'Mississippi', ' MO': 'Missouri',
    ' MT': 'Montana', ' NE': 'Nebraska', ' NV': 'Nevada', ' NH': 'New Hampshire', ' NJ': 'New Jersey',
    ' NM': 'New Mexico', ' NY': 'New York', ' NC': 'North Carolina', ' ND': 'North Dakota', ' OH': 'Ohio',
    ' OK': 'Oklahoma', ' OR': 'Oregon', ' PA': 'Pennsylvania', ' RI': 'Rhode Island', ' SC': 'South Carolina',
    ' SD': 'South Dakota', ' TN': 'Tennessee', ' TX': 'Texas', ' UT': 'Utah', ' VT': 'Vermont',
    ' VA': 'Virginia', ' WA': 'Washington', ' WV': 'West Virginia', ' WI': 'Wisconsin', ' WY': 'Wyoming',
    'Remote': 'Remote', ' 061' : '', None : '', ' DC' : 'District of Columbia'
})

/tmp/ipykernel_18/2817637516.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Headquarter_State'] = df2['Headquarter_State'].replace({

In [119]:
df2.shape

(672, 26)

In [120]:
pd.set_option('display.max.columns', 26)
df2.head()

,Rating,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Average_Salary,Company_Name,Location_City,Location_State,Headquarter_City,Headquarter_State,Job_Title_Cleaned,Job_Level,Year_of_Operation,Python,Excel,SQL,Tableau,AWS,Spark,Hadoop,Azure,Power BI,Segment_Company_Size
0,3.1,Nonprofit Organization,Finance & Insurance,Insurance,NA,137,171,154.0,Healthfirst,New York,New York,New York,New York,Data Scientist,Senior,31,0,0,0,0,1,0,0,1,0,Large enterprise
1,4.2,Company - Public,Professional Services,Business Services,1 - 2 billion,137,171,154.0,ManTech,Chantilly,Virginia,Herndon,Virginia,Data Scientist,NA,56,0,0,1,0,0,0,1,0,0,Large enterprise
2,3.8,Private Practice / Firm,Professional Services,Business Services,100 - 500 million,137,171,154.0,Analysis Group,Boston,Massachusetts,Boston,Massachusetts,Data Scientist,NA,43,1,1,0,0,1,0,0,0,0,Large enterprise
3,3.5,Company - Public,Manufacturing & Industrial,Manufacturing,100 - 500 million,137,171,154.0,INFICON,Newton,Massachusetts,Bad Ragaz,Switzerland,Data Scientist,NA,24,1,1,1,0,1,0,0,0,0,Medium-sized enterprise
4,2.9,Company - Private,Media & Entertainment,Business Services,NA,137,171,154.0,Affinity Solutions,New York,New York,New York,New York,Data Scientist,NA,26,1,1,1,0,0,0,0,0,0,Medium-sized enterprise

Rearranging the dataset by columns

In [121]:
df2.columns

Index(['Rating', 'Type of ownership', 'Industry', 'Sector', 'Revenue',
       'Minimum_Salary', 'Maximum_Salary', 'Average_Salary', 'Company_Name',
       'Location_City', 'Location_State', 'Headquarter_City',
       'Headquarter_State', 'Job_Title_Cleaned', 'Job_Level',
       'Year_of_Operation', 'Python', 'Excel', 'SQL', 'Tableau', 'AWS',
       'Spark', 'Hadoop', 'Azure', 'Power BI', 'Segment_Company_Size'],
      dtype='object')

In [122]:
df3 = df2[['Job_Title_Cleaned','Job_Level','Minimum_Salary', 'Maximum_Salary', 'Average_Salary', 'Company_Name',
       'Location_City', 'Location_State', 'Headquarter_City',
       'Headquarter_State', 'Rating', 'Type of ownership', 'Industry', 'Sector','Revenue','Year_of_Operation', 'Python', 'Excel', 'SQL', 'Tableau', 'AWS',
       'Spark', 'Hadoop', 'Azure', 'Power BI', 'Segment_Company_Size']]

In [123]:
df3.shape

(672, 26)